@import '../../../../scss/core';

.modal-email form {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
}

.modal-email .form-group {
  padding-top: 40px;
}

.modal-email label {
  cursor: pointer;
}

.modal-email label, .modal-email input[type='submit'] {
  font-family: ProximaNova-Semibold, "Helvetica Neue", Helvetica, sans-serif;
}

.modal-email input[type='text'],
.modal-email input[type='password'] {
  @include border-radius();
  background: $aqua-haze;
  border: none;
  box-sizing: border-box;
  font-size: $font-size-regular;
  height: 50px;
  margin-top: 15px;
  padding-left: 10px;
  outline: none;
  width: 100%;
}

.modal-email input[type='submit'] {
  @include border-radius(20px);
  align-self: flex-end;
  background-image: linear-gradient(to right, $robin-egg-blue, $shamrock);
  border: none;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  margin-top: 30px;
  outline: none;
  padding: 7px 0 8px;
  width: 100px;

  &:hover {
    /* TODO: hover bg color */
    background-image: linear-gradient(to right, darken($robin-egg-blue, 5%), darken($shamrock, 5%));
  }

  &:focus {
    /* TODO: Focus bg color */
    background-image: linear-gradient(to right, darken($robin-egg-blue, 7%), darken($shamrock, 7%));
  }
}

.modal-email footer {
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;

  .footer-link {
    padding-top: 20px;
    align-self: center;
  }
}
