<div class="meter">
    <span class="meter__segment meter__segment--very-weak"   [ngClass]="{ 'meter__segment--visible': score >= 0  }"></span>
    <span class="meter__segment meter__segment--weak"        [ngClass]="{ 'meter__segment--visible': score >= 20 }"></span>
    <span class="meter__segment meter__segment--good"        [ngClass]="{ 'meter__segment--visible': score >= 40 }"></span>
    <span class="meter__segment meter__segment--strong"      [ngClass]="{ 'meter__segment--visible': score >= 60 }"></span>
    <span class="meter__segment meter__segment--very-strong" [ngClass]="{ 'meter__segment--visible': score >= 80 }"></span>
    <span class="meter__description" *ngIf="score >= 0  && score < 20" i18n="Password strength meter label for very weak password@@07a6171e3f63bdda059d13296924d816">VERY WEAK</span>
    <span class="meter__description" *ngIf="score >= 20 && score < 40" i18n="Password strength meter label for weak password@@d429c3182455cfcf0699edc04f3c9b81">WEAK</span>
    <span class="meter__description" *ngIf="score >= 40 && score < 60" i18n="Password strength meter label for good password@@67379fe94d8d46b7ea810c1e0bb55277">GOOD</span>
    <span class="meter__description" *ngIf="score >= 60 && score < 80" i18n="Password strength meter label for strong password@@19b13e6b956a5e0c9f1edc059fbea6b4">STRONG</span>
    <span class="meter__description" *ngIf="score >= 80" i18n="Password strength meter label for very strong password@@232c4dda282698e176adcf6bcad496f2">VERY STRONG</span>
</div>
