<div class="meter">
    <span class="meter__segment meter__segment--very-weak"   [ngClass]="{ 'meter__segment--visible': score >= 0  }"></span>
    <span class="meter__segment meter__segment--weak"        [ngClass]="{ 'meter__segment--visible': score >= 20 }"></span>
    <span class="meter__segment meter__segment--good"        [ngClass]="{ 'meter__segment--visible': score >= 40 }"></span>
    <span class="meter__segment meter__segment--strong"      [ngClass]="{ 'meter__segment--visible': score >= 60 }"></span>
    <span class="meter__segment meter__segment--very-strong" [ngClass]="{ 'meter__segment--visible': score >= 80 }"></span>

    <span class="meter__description">{{ strengthLabel }}</span>
</div>
