<div class="row">
    <h6>Email Notifications</h6>
    <div class="label-button-row">
        <p class="paragraph">Receive infrequent emails about Get Native updates and changes.</p>
        <gn-switch (toggle)="onToggleEmailNotifications($event)" #emailSwitch></gn-switch>
    </div>
</div>

<div class="row">
    <h6>Browser Notifications</h6>
    <div class="label-button-row">
        <p class="paragraph">Allow Get Native to display browser notifications.</p>
        <gn-switch (toggle)="onToggleBrowserNotifications($event)" #browserSwitch></gn-switch>
    </div>
</div>
