<main class="main">
    <h1>Reset Password</h1>

    <form class="form" #form="ngForm" (submit)="onSubmit()" [gnMatch]="['password', 'confirm']">
        <div class="form__group" *ngIf="error">
            <p class="paragraph paragraph--error-message">{{ error.message }}</p>
        </div>

        <div class="form__group">
            <label for="password" class="label" i18n="The label text for the password reset form new password input field@@51579e033b6e0aae04c83c4d80263e9d">New Password</label>
            <input id="password" class="input" type="password" name="password" minlength="8" maxlength="50" required [(ngModel)]="model.password">
            <gn-password-strength [password]="model.password"></gn-password-strength>
        </div>

        <div class="form__group">
            <label for="confirm" class="label" i18n="The label text for the password reset form confirm new password input field@@e9065b2c75265db3110543b6f487f192">Confirm New Password</label>
            <input id="confirm" class="input" type="password" name="confirm" minlength="8" maxlength="50" required [(ngModel)]="model.confirm">
        </div>

        <button class="button button--opaque form__button" [disabled]="form.invalid" i18n="The submit button text for the password reset form@@0628303c619a0cd22ba9ea5ce3110d42">SUBMIT</button>
    </form>
</main>