@import "../../../scss/core";
@import "./compliance.component.debug";

.dialog {
  @include border-radius();
  background: $wild-sand;
  bottom: 30px;
  display: flex;
  left: 30px;
  padding: 15px;
  position: fixed;
  right: 30px;
  opacity: 0.95;
}

.dialog__link_tos {
  color: $default-color;
  padding-left: 5px;
}

.dialog__link_close {
  margin-left: auto;
}
