@import "../../../scss/core";
@import "./compliance.component.debug";

/* Sizes */
$dialog-padding: 15px;
$dialog-offset: $padding-unit-regular;
$tos-link-padding-left: 5px;

/* Colors */
$tos-link-color: $black;
$comply-trigger-color: $shamrock;
$dialog-background-color: $wild-sand;

.compliance-dialog {
  @include border-radius();
  background: $dialog-background-color;
  bottom: $dialog-offset;
  display: flex;
  left: $dialog-offset;
  padding: $dialog-padding;
  position: fixed;
  right: $dialog-offset;
  opacity: 0.95;
}

.tos-link {
  color: $tos-link-color;
  padding-left: $tos-link-padding-left;
}

.comply-trigger {
  @extend %shamrock-link;

  /* Sends flex item to far-right */
  margin-left: auto;
}
