@import '../../../styles/core';
@import './security.component.debug';

.paragraph {
  color: $regent-gray;
}

.paragraph--modal {
  color: $pale-sky;
}

.paragraph--error-message {
  font-family: $headings-font-family;
  color: $error-message-color;
}

.button--delete, .button--cancel {
  display: block;
  margin: 20px auto 0;
}

.link:not([href]):not([tabindex]) {
  color: $primary;
}

.gn-modal-content {
  padding: 30px;
}

.modal-frame {
  width: 400px;
}
