@import '../../../styles/core';
@import './security.component.debug';

.title, .paragraph {
  margin-top: 30px;
}

.paragraph {
  color: $regent-gray;
}

.paragraph--modal {
  color: $pale-sky;
  padding: 40px;
  margin-top: 0;
}

.button {
  display: block;
  margin: 0 auto;
}

.button--delete {
  margin-bottom: 30px;
}

.spacer {
  height: 30px;
  display: block;
}

.textarea--container {
  display: block;
  margin: 0 auto 30px;
  padding: 0 40px;
}
