@import '../../../scss/core';

/* Override to offset password strength indicator height */
.form__group_confirm-password {
  padding-top: 12px;
}

.footer {
  flex-direction: column;
}

.error-messages {
  padding-left: 30px;
  color: red;
  font-weight: bolder;
  font-size: 14px;
  padding-right: 30px;
  padding-top: 20px;
}
