<div class="modal modal_register">

    <header>
        <p class="paragraph">Register via email by filling out the following information.</p>
    </header>

    <ul class="modal__form-errors" *ngIf="formErrors">
        <li *ngFor="let err of formErrors">{{ err | uppercase }}</li>
    </ul>

    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form">

        <div class="form__group">
            <label class="form__label" for="email"><span class="form__required-indicator">*</span> Email</label>

            <input id="email" type="email" name="email" [(ngModel)]="credentials.email" [pattern]="HTML5_EMAIL_REGEX"
                   maxlength="254" tabindex="1" class="form__input tabbable" required>
        </div>

        <div class="form__group">
            <label class="form__label" for="password"><span class="form__required-indicator">*</span> Password (minimum 8 characters)</label>
            <input id="password" type="password" name="password" tabindex="2" [(ngModel)]="credentials.password"
                   minlength="8" class="form__input tabbable" required>
            <gn-password-strength></gn-password-strength>
        </div>

        <div class="form__group form__group_confirm-password">
            <label class="form__label" for="password-confirm"><span class="form__required-indicator">*</span> Password (Confirm)</label>
            <input id="password-confirm" [pattern]="credentials.password" type="password" name="password-confirm"
                   tabindex="3" class="form__input tabbable" [(ngModel)]="credentials.passwordConfirm" minlength="8" required>
        </div>

        <button type="submit" tabindex="4" class="form__button tabbable" [disabled]="!form.valid">SIGN UP</button>

    </form>

    <footer class="footer">
        <span (click)="onSetModalView(null)" class="link footer__link tabbable" tabindex="5">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('email')" class="link footer__link tabbable" tabindex="6">Sign in with email</span>
        <p class="paragraph">By signing up, you are agreeing to the <a class="link footer__link tabbable" tabindex="7">privacy policy</a> and
            <a class="link footer__link tabbable" tabindex="8">terms of service</a></p>
    </footer>

</div>
