<header class="navbar">
    <div class="navbar__logo-frame">
        <img class="navbar__logo" src="../../../assets/mock/pokeball.png" alt="logo" [routerLink]="logoLinkPath">
    </div>

    <div class="navbar__menu navbar__menu_center" *ngIf="authenticated">
        <div class="back-button-frame">
            <img class="navbar__menu-icon navbar__menu-icon_back" src="../../../assets/icons/arrow-back.svg" alt="back">
            <span class="back-button-label">Japanese Conversation</span>
        </div>

        <span class="page-title">{{ title }}</span>

        <!-- TODO -->
        <!--<div class="study-progress-frame"></div>-->

        <div class="study-options">
            <button class="button study-option study-option_start">START</button>
            <button class="button study-option study-option_save">SAVE</button>
        </div>
    </div>

    <nav class="navbar__nav" *ngIf="!authenticated">
        <a class="link navbar__link navbar__link_help" [routerLink]="'help'">Help</a>
        <a class="link navbar__link navbar__link_login" href="" (click)="onShowLoginModal($event)">Sign in / Sign up</a>
    </nav>

    <ul class="navbar__menu navbar__menu_right" *ngIf="authenticated">
        <li>
            <img class="navbar__menu-icon navbar__menu-icon_search" src="../../../assets/icons/search.svg" alt="search">
        </li>
        <li>
            <span class="navbar__menu-icon-frame">
                <!-- TODO: Remove mock (click) -->
                <img (click)="toggleNotificationIndicator()" class="navbar__menu-icon navbar__menu-icon_notification"
                     src="../../../assets/icons/notification.svg" alt="notification">
                <span class="notification-indicator" *ngIf="isNotificationIndicatorVisible" [@bounceInOut]></span>
            </span>
        </li>
        <li>
            <img [routerLink]="'account'" class="navbar__menu-icon navbar__menu-icon_account"
                 src="../../../assets/mock/man-smiling.jpg" alt="account">
        </li>
    </ul>
</header>
