<header class="navbar">
    <div class="navbar__logo-frame">
        <img class="navbar__logo" src="/assets/icons/logo.svg" alt="logo" [routerLink]="'/'">
    </div>

    <div class="navbar__menu navbar__menu_center navbar__menu_center-search" *ngIf="authenticated && searchBarVisible" [@slideInLeftOutRight]>
        <label for="search-bar" class="sr-only">Search</label>
        <input type="search" name="search" class="input search-bar" id="search-bar" placeholder="Search..." gnFocus maxlength="100"
               (input)="navbar.updateQuery($event.target.value)">
    </div>

    <div class="navbar__menu navbar__menu_center" *ngIf="authenticated && !searchBarVisible" [@fadeInOut]>
        <div class="back-button-frame" *ngIf="backButtonTitle">
            <img class="navbar__menu-icon navbar__menu-icon_back" src="/assets/icons/arrow-back.svg" alt="back" (click)="onClickBack()">
            <span class="back-button-label">{{ backButtonTitle }}</span>
        </div>

        <span class="page-title">{{ title }}</span>

        <div class="study-progress-frame" *ngIf="!progressBarHidden">
            <gn-study-progress></gn-study-progress>
        </div>

        <div class="study-options" *ngIf="!studyOptionsHidden">
            <button class="button button--opaque study-option study-option_start">START</button>
            <button class="button study-option study-option_save">SAVE</button>
        </div>
    </div>

    <nav class="navbar__nav" *ngIf="!authenticated">
        <a class="link navbar__link navbar__link_help" [routerLink]="'help'">Help</a>
        <a class="link navbar__link navbar__link_login" href="" (click)="onShowLoginModal($event)">Sign in / Sign up</a>
    </nav>

    <ul class="navbar__menu navbar__menu_right" *ngIf="authenticated">
        <li>
            <img class="navbar__menu-icon navbar__menu-icon--search" src="/assets/icons/search.svg" alt="search" *ngIf="!searchBarVisible" (click)="onToggleSearch()">
            <img class="navbar__menu-icon navbar__menu-icon--close" src="/assets/icons/close-dark.svg" alt="close" *ngIf="searchBarVisible" (click)="onToggleSearch()">
        </li>
        <li>
            <span class="navbar__menu-icon-frame">
                <!-- TODO: Remove mock (click) -->
                <img (click)="toggleNotificationIndicator()" class="navbar__menu-icon navbar__menu-icon_notification"
                     src="/assets/icons/notification.svg" alt="notification">
                <span class="notification-indicator" [ngClass]="{'notification-indicator--unread': hasUnreadNotifications}"></span>
            </span>
        </li>
        <li>
            <img [routerLink]="'settings'" class="navbar__menu-icon navbar__menu-icon_account"
                 src="/assets/mock/man-smiling.jpg" alt="account">
        </li>
    </ul>
</header>
