@import '../../../scss/core';
@import './navbar.component.debug';

.navbar {
  height: 90px;
}

.navbar__logo-frame {
  display: flex;
  height: 90px;
  justify-content: center;
  position: fixed;
  width: 90px;
  z-index: 2;
}

.navbar__logo {
  align-self: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar__nav {
  display: flex;
  position: fixed;
  height: 90px;
  right: 0;
  padding: 0 30px;
}

.navbar__link {
  align-self: center;
}

.navbar__link_help {
  color: $default-color;
  margin-right: 15px;
  &:hover {
    border-color: lighten($default-color, 50%);
  }
}

// ---------------

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: inherit;
  line-height: 90px;
  width: $main-width;
}

.navbar__menu_center {
  margin: 0 auto;
}

.navbar__menu_center > * {
  width: $main-width/3;
}

.back-button-frame {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.page-title {
  text-align: center;
}

.navbar__menu-icon_back, .back-button-label {
  align-self: center;
}

.back-button-label {
  padding-top: 1px;
  transform: translateX(20px);
}

.navbar__menu-icon {
  cursor: pointer;
  width: 30px;
}

.study-options, .study-progress-frame {
  display: flex;
  justify-content: flex-end;
}

.study-option {
  align-self: center;
}

.study-option_start {
  transform: translateX(-20px);
}

.navbar__menu_right {
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 160px;
  z-index: 2;
}

.navbar__menu_right .navbar__menu-icon {
  cursor: pointer;
  vertical-align: middle;
  width: 18px;
}

.navbar__menu_right .navbar__menu-icon.navbar__menu-icon_account {
  @include border-radius(50%);
  height: 30px;
  object-fit: cover;
  width: 30px;
}

.navbar__menu-icon-frame {
  position: relative;
}

.notification-indicator {
  @include border-radius(50%);
  position: absolute;
  top: -3px;
  background: $red-orange;
  height: 6px;
  width: 6px;
  right: -2px;
}
