@import '../../../scss/core';
@import './navbar.component.debug';

.navbar {
  display: flex;
  height: 90px;
}

.navbar .logo-frame {
  display: flex;
  height: 90px;
  justify-content: center;
  position: fixed;
  width: 90px;
  z-index: 1;
}

.navbar .logo-frame .logo-image {
  align-self: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar .quick-links {
  display: flex;
  height: 100%;
  margin-left: auto;
  padding: 0 30px;
  font-size: 0;
}

.navbar .quick-links .quick-link {
  align-self: center;
  font-size: $font-size-regular;
}

.navbar .quick-links .quick-link.login-link {
  @extend %shamrock-link;
}

.navbar .quick-links .quick-link.help-link {
  color: $default-color;
  margin-right: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
