@import '../core';

body {
  font-size: $font-size-regular;
  color: $default-color;
  line-height: $line-height-regular;
  box-sizing: border-box;
  min-width: $breakpoint-md;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}