@import '../core';

.btn {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn.btn-primary {
  font-family: $headings-font-family;
  font-size: $font-size-xs;
}

.btn.btn-primary.btn-gradient-primary {
  background-image: linear-gradient(to right, $robin-egg-blue, $primary);
  color: $white;
  border-color: transparent;

  &:not([disabled]):not(.disabled):hover {
    /* This is necessary to prevent flickering in Chrome */
    background: linear-gradient(to right, darken($primary, 5%), darken($primary, 5%));
  }

  &:not([disabled]):not(.disabled):active {
    border-color: transparent;
  }

  &:disabled {
    background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
    opacity: inherit;
  }
}

.button {
  font-family: $headings-font-family;
  @include border-radius(20px);
  background: $white;
  border: 2px solid $periwinkle-gray;
  color: $regent-gray;
  cursor: pointer;
  font-size: $font-size-xs;
  letter-spacing: $uppercase-label-letter-spacing / 2;
  outline: none;
  padding: 6px 30px;
  transition: 100ms;
  user-select: none;
  max-height: 37px;

  &:hover {
    border-color: $primary;
    color: $primary;
    transform: scale(1.05);
    transition: scale, border, color, background-color 0s;
  }

  &:focus {
    border-color: darken($primary, 5%);
    color: darken($primary, 5%);
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;

    &:hover, &:focus {
      border-color: $periwinkle-gray;
      color: $regent-gray;
      transform: none;
      transition: none;
    }
  }
}

.button--hollow {
  border-color: transparent;

  &:hover, &:focus, &:disabled:hover {
    border-color: transparent;
  }
}

.button--opaque {
  background-image: linear-gradient(to right, $robin-egg-blue, $primary);
  border-color: transparent;
  color: $white;
  transition: 100ms;

  &:hover {
    /* This is necessary to prevent flickering in Chrome */
    background: linear-gradient(to right, $primary, $primary);

    border-color: transparent;
    color: $white;
  }

  &:focus {
    background: linear-gradient(to right, darken($primary, 5%), darken($primary, 5%));
    color: $white;
  }

  &:disabled {
    background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
    opacity: inherit;

    &:hover, &:focus {
      background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
      border-color: transparent;
      color: $white;
    }
  }
}

// todo: get activity indicator from michele
.button__activity-indicator {
  display: block;
  margin-top: 20px;
  height: 34px;
}
