@import '../core';

.link {
  color: $shamrock;
  cursor: pointer;
  font-size: $font-size-regular;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover, &:focus {
    border-bottom-color: $iceberg;
  }
}

.link.link--disabled {
  color: $regent-gray;
  cursor: not-allowed;
}
