<main class="main">
    <span class="time-label">0:45 LEFT</span>

    <div class="progress-frame">
        <div class="circle circle--large"><span class="check-mark">&#x2713;</span></div>

        <progress max="100" value="{{ progress.listening$ | async }}" class="progress progress--listening"></progress>
        <div class="circle circle--listening circle--complete"></div>

        <progress max="100" value="{{ progress.shadowing$ | async }}" class="progress progress--shadowing"></progress>
        <div class="circle circle--shadowing circle--complete"></div>

        <progress max="100" value="{{ progress.speaking$ | async }}" class="progress progress--speaking"></progress>
        <div class="circle circle--speaking"></div>

        <progress max="100" value="{{ progress.writing$ | async }}" class="progress progress--writing"></progress>
        <div class="circle circle--writing"></div>
    </div>
</main>
