<div class="overlay" *ngIf="isVisible" [@darken] (click)="onClickClose($event)">
    <div class="modal-frame" [@fadeInOut]>

        <div class="modal-frame__close-button-frame">
            <button class="modal-frame__close-button" (click)="onClickClose($event)"></button>
        </div>

        <div [ngSwitch]="activeView">
            <gn-social-login *ngSwitchDefault></gn-social-login>
            <gn-email-login *ngSwitchCase="'email'"></gn-email-login>
            <gn-register *ngSwitchCase="'register'"></gn-register>
        </div>
    </div>
</div>
