<header>
    <div class="gn-logo-container">
        <img src="../../../assets/mock/pokeball.png" alt="logo" class="gn-logo">
    </div>
    <ul class="gn-navbar-center-items">
        <li class="gn-return-navigation">
            <div>< Japanese conversation</div>
        </li>
        <li class="gn-page-title">
            <div><h5>Page Title</h5></div>
        </li>
        <li class="gn-video-options-container">
            <ul class="gn-video-options">
                <li><button>START</button></li>
                <li><button>STOP</button></li>
            </ul>
        </li>
    </ul>
    <ul class="gn-user-preference-icons">
        <li><img src="../../../assets/mock/clock-alert.png" alt="" class="gn-notifications-icon"></li>
        <li><img src="../../../assets/mock/man-smiling.jpg" alt="" class="gn-user-icon"></li>
    </ul>
</header>
