@import '../../../scss/core';
@import './navbar.component.debug';

.navbar {
  display: flex;
  height: pu(9);
}

.logo-window {
  display: flex;
  height: pu(9);
  justify-content: center;
  position: fixed;
  width: pu(9);
}

.logo {
  align-self: center;
  cursor: pointer;
  height: pu(3);
  width: pu(3);
}

.quick-links {
  display: flex;
  height: 100%;
  margin-left: auto;
  padding: 0 30px;

  a {
    align-self: center;
  }
}

.quick-links {
  font-size: 0;
  a {
    font-size: $font-size-regular;
  }
}

.quick-links .sign-in {
  @extend %shamrock-link;
}

.quick-links .help {
  color: $black;
  margin-right: 15px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
