<header class="navbar">
    <!-- TODO: Temporary
    <div class="logo-container">
        <img src="../../../assets/mock/pokeball.png" alt="logo" class="logo">
    </div>
    <ul class="navbar-center-items">
        <li class="return-navigation">
            <div>< Japanese conversation</div>
        </li>
        <li class="page-title">
            <div><h5>Page Title</h5></div>
        </li>
        <li class="video-options-container">
            <ul class="video-options">
                <li><button>START</button></li>
                <li><button>STOP</button></li>
            </ul>
        </li>
    </ul>
    <ul class="user-preference-icons">
        <li><img src="../../../assets/mock/clock-alert.png" alt="" class="notifications-icon"></li>
        <li><img src="../../../assets/mock/man-smiling.jpg" alt="" class="user-icon" (click)="requestShowLoginModal()"></li>
    </ul>
    -->

    <img src="../../../assets/mock/pokeball.png" alt="logo" class="logo" [routerLink]="''">

    <nav class="quick-links">
        <a [routerLink]="'help'" class="help">Help</a>
        <a href="" class="sign-in" (click)="onShowLoginModal($event)">Sign in / Sign up</a>
    </nav>
</header>
