<header>
    <div><img src="../../../assets/mock/pokeball.png" alt="gn-logo"></div>
    <ul class="gn-main-navigation-center-objects">
        <li class="gn-return-navigation">
            <div>< Japanese conversation</div>
        </li>
        <li class="gn-page-title">
            <div><h5>Page Title</h5></div>
        </li>
        <li class="gn-navigation-video-options"></li>
        <ul>
            <li>
                <button class="gn-btn-outline gn-btn-outline-green">START</button>
            </li>
            <li>
                <button class="gn-btn-outline">STOP</button>
            </li>
        </ul>
    </ul>
    <ul class="gn-user-preference-icons">
        <li><img src="../../../assets/mock/clock-alert.png" alt="" class="gn-notifications-icon"></li>
        <li><img src="../../../assets/mock/man-smiling.jpg" alt="" class="gn-user-icon"></li>
    </ul>
</header>
