@import '../../../scss/variables';
@import '../../../scss/mixins';
@import "../../../scss/variables";

$navbar-center-item-width: 300px;
$logo-diameter: 30px;

header > * {
  display: inline-block;
}

header {
  @include debug-background-color(blue);
  @include debug-opacity(0.75);

  height: $navbar-height;
  line-height: $navbar-height;
  position: relative;

  img {
    vertical-align: middle;
  }
}

div.gn-logo-container {
  @include debug-background-color(yellow);
  position: fixed;
  width: $logo-diameter * 3;
}

img.gn-logo {
  @include debug-background-color(orange);
  cursor: pointer;
  margin-left: $logo-diameter;
  height: $logo-diameter;
  width: $logo-diameter;
}

ul.gn-navbar-center-items {
  @include debug-background-color(green);
  display: block;
  margin: 0 auto;
  width: $main-width;
}

ul.gn-navbar-center-items li {
  display: inline-block;
  float: left;
  text-align: center;
  width: $navbar-center-item-width;
}

ul.gn-navbar-center-items li.gn-return-navigation {
  @include debug-background-color(pink);
}

ul.gn-navbar-center-items li.gn-page-title {
  @include debug-background-color(grey);
}

ul.gn-navbar-center-items li.gn-video-options-container {
  @include debug-background-color(purple);
  text-align: center;
}

ul.gn-navbar-center-items li.gn-video-options-container ul.gn-video-options li {
  width: $navbar-center-item-width / 2;
}

.gn-user-preference-icons {
  position: fixed;
  right: 0;
  top: 0;

  li {
    display: inline-block;
  }

  li:first-child {
    margin-right: 20px;
  }

  li:last-child {
    margin-right: 30px;
  }
}

.gn-notifications-icon {
  cursor: pointer;
  height: 23px;
  width: 23px;
}

.gn-user-icon {
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.gn-video-options li button {
  @include rounded-button();
}