<main class="main">
    <div class="row" *ngFor="let row of rows">
        <div class="row-group" *ngFor="let category of row" [ngClass]='{"row-group--placeholder": !category?.name}'>
            <h6 class="link category-name" *ngIf="category?.name" (click)="onClickCategory(category)">{{ category?.name }}</h6>
            <ul>
                <li class="subcategory" *ngFor="let subcategory of category?.subcategories?.records">
                    <span class="link subcategory-name" (click)="onClickSubcategory(subcategory)">{{ subcategory?.name }}</span>
                </li>
            </ul>
        </div>
    </div>
</main>
