<main class="main">
    <div class="row" *ngFor="let row of rows">
        <div class="row-group" *ngFor="let category of row" [ngClass]='{"row-group--placeholder": !category?.name}'>
            <h6 class="link category-name" *ngIf="category?.name" (click)="onClickCategory(category)">{{ category?.name }}</h6>
            <ul>
                <li class="topic" *ngFor="let topic of category?.topics?.records">
                    <span class="link topic-name" (click)="onClickTopic(topic)">{{ topic?.name }}</span>
                </li>
            </ul>
        </div>
    </div>
</main>
