@import '../../../styles/core';
@import './video-panel.component.debug';

.video-panel {
  @include border-right-radius(10px);
  height: $video-panel-height;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: (($main-width - 60px) / 3);
}

.video-panel__img {
  width: 102%;
  transform: translateX(-1%);
}

.video-panel__overlay {
  @include border-right-radius(10px);
  // prevents Safari flickering during hover
  -webkit-transform: translateZ(0);
  background-image: linear-gradient(to right, rgba($shamrock, 0.8), rgba($robin-egg-blue, 0.8));
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
}

.video-panel:hover .video-panel__overlay {
  opacity: 1;
}

.video-panel__overlay.video-panel__overlay_link {
  cursor: pointer;
  transition: opacity 100ms;
}

.video-panel.video-panel--disabled .video-panel__overlay {
  background: rgba($white, 0.4) none;
  opacity: 1;
  z-index: 1;
  transition: opacity 100ms, background-color 100ms;
}

.controls__input {
  background: transparent;
  border: none;
  color: $white;
  font-size: $font-size-regular;
  padding: 0;
  text-align: center;
  align-self: center;
}

.controls__input::-webkit-inner-spin-button,
.controls__input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.controls__input:focus {
  outline: 0;
}

.controls {
  display: flex;
  flex-flow: column wrap;
  left: 50%;
  position: absolute;
  top: 33%;
  transform: translate(-50%, -50%);
}

.controls__row {
  display: flex;
  justify-content: flex-start;
}

.controls__minute-button-frame {
  align-self: center;
  height: 22px;
  margin-right: 12px;
  width: 20px;
}

.controls__minute-button {
  @include border-radius(2px);
  background: $white;
  cursor: pointer;
  height: 10px;
  width: 20px;
}

.controls__minute-button:after {
  content: '';
  position: absolute;
  left: 5px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
}

.controls__minute-button:first-child::after {
  top: 3px;
  border-bottom: 4px solid $shamrock;
}

.controls__minute-button--disabled.controls__minute-button:first-child::after {
  border-bottom: 4px solid $regent-gray;
}

.controls__minute-button:last-child::after {
  top: 15px;
  border-top: 4px solid $shamrock;
}

.controls__minute-button--disabled.controls__minute-button:last-child::after {
  border-top: 4px solid $regent-gray;
}

.controls__minute-button:last-child {
  margin-top: 2px;
}

.controls__minute-button--disabled {
  cursor: not-allowed;
}

.controls__minutes-label {
  align-self: center;
  color: $white;
  height: 18px;
  padding-bottom: 1px;
}

.controls__button {
  @include border-radius();
  background: $white;
  border: 0;
  color: $shamrock;
  cursor: pointer;
  display: block;
  font-size: $font-size-regular;
  height: 40px;
  margin-top: 12px;
  outline: none;
  width: 150px;
  &:disabled {
    cursor: not-allowed;
    color: $regent-gray;
  }
}

.footer {
  @include border-radius(0 0 10px 0);
  background: $black;
  bottom: 0;
  box-sizing: border-box;
  color: $white;
  font-size: $font-size-small;
  height: 100px;
  padding: 16px 18px;
  position: absolute;
  width: 100%;
}

.footer .footer__video-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer .video-stats {
  display: flex;
  font-size: $font-size-x-small;
  height: 16px;
  margin-top: 8px;
  overflow: hidden;
}

.video-stats__length, .video-stats__views {
  display: flex;
  flex-flow: row nowrap;
  width: 60px;
}

/* The bottom side of the <span> contains a 1px gap. This offsets that gap. */
.video-stats__label {
  padding-top: 1px;
}

.video-stats__icon {
  margin-right: 8px;
  width: 16px;
}

.video-stats__icon, .video-stats__label {
  align-self: center;
}

.video-stats__length .video-stats__icon {
  height: 100%;
}

.video-stats__views .video-stats__icon {
  height: 65%;
}

.video-stats__created-at {
  margin-left: auto;
}
