@import '../../styles/core';
@import './library.component.debug';

.section-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.section-header__title {
  align-self: center;
}

.dropdown-toggle {
  align-self: center;
}

.dropdown-toggle__icon {
  cursor: pointer;
  margin-left: 5px;
  width: 12px;
}

.dropdown-toggle__icon--close {
  width: 10px;
}

.section__button {
  margin-top: 20px;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 40px;
  z-index: 1;
}
