@import "../../../scss/core";

footer {
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: center;
}

.site-links, .copyright, .legal-links {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 0;
  max-width: $main-width / 3;
}

.site-links {
  @include debug-background-color(rgba(brown, 0.5));
  a {
    color: $site-link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $site-link-text-decoration-color;
    }
  }
}

.copyright {
  @include debug-background-color(rgba(orange, 0.5));
  color: $copyright-color;
}

.legal-links {
  @include debug-background-color(rgba($red, 0.5));
  color: $legal-link-color;
  a {
    color: inherit;
    text-decoration-color: $legal-link-text-decoration-color;
    &:hover {
      color: $legal-link-hover-color;
    }
  }
}