@import "../../../scss/core";
@import "./footer.component.debug";

/* Sizes */
$footer-padding: 70px 0 50px;
$row-margin: 30px auto 0;
$legal-links-ampersand-padding: 0 5px;

/* Colors */
$legal-link-color: $grey;
$legal-link-text-decoration-color: $grey;
$legal-link-hover-color: $black;
$copyright-color: $grey;
$site-link-color: $shamrock;
$site-link-text-decoration-color: $iceberg;

footer {
  padding: $footer-padding;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 0;
  max-width: $main-width / 3;
}

.site-links a {
  color: $site-link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $site-link-text-decoration-color;
  }
}

.copyright {
  color: $copyright-color;
}

.legal-links {
  color: $legal-link-color;
  justify-content: center;
}

.legal-links a {
  color: inherit;
  text-decoration-color: $legal-link-text-decoration-color;
  &:hover {
    color: $legal-link-hover-color;
  }
}

.legal-links span {
  padding: $legal-links-ampersand-padding;
}
