<main class="main">
    <header class="header">
        <img class="header__thumbnail" src="../../assets/mock/man-smiling.jpg" alt="user-thumbnail">
        <h6 class="header__title">{{ selectedTabDescription }}</h6>
    </header>

    <ul class="tabs">
        <li class="tab" *ngFor="let tab of tabs" [routerLink]="['./', {tab: tab}]" [ngClass]="classForTab(tab)">
            {{ tab | uppercase }}
        </li>
    </ul>

    <section class="settings-tab-content" [ngSwitch]="selectedTab">
        <gn-general *ngSwitchDefault></gn-general>
        <gn-security *ngSwitchCase="'security'"></gn-security>
        <gn-notifications *ngSwitchCase="'notifications'"></gn-notifications>
    </section>
</main>
