@import '../../scss/core';
@import './settings.component.debug';

.main {
  width: $main-width * (2/3);
}

.header {
  display: flex;
  flex-flow: column wrap;
}

.header__thumbnail {
  @include border-radius(50%);
  align-self: center;
  height: 110px;
  object-fit: cover;
  width: 110px;
}

.header__title {
  @include font-weight-regular;
  align-self: center;
  color: $regent-gray;
  margin-top: 30px;
  width: 260px;
  text-align: center;
}

.tabs {
  border-bottom: 2px solid $aqua-haze;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.tab {
  @include font-weight-bold;
  color: $regent-gray;
  cursor: pointer;
  font-size: $font-size-x-small;
  margin-left: 30px;
}

.tab_active {
  color: $default-color;
}
