@import "../../scss/core";
@import "./privacy-policy.component.debug";

address, .quick-links, h1, h2, p {
  margin-top: $padding-unit-regular;
}

ul {
  list-style-type: disc;
  padding-left: $padding-unit-regular / 2;
}

address {
  font-style: italic;
}
