@import "../../scss/core";

main {
  line-height: $line-height-regular;
}

address,
.quick-links,
h1,
h2,
p {
  margin-top: $padding-unit-single;
}

ul {
  @include debug-background-color(rgba(green, 0.5));
  list-style-type: disc;
  padding-left: $padding-unit-single / 2;
}

h2 {
  @include debug-background-color(rgba(blue, 0.5));
}

p {
  @include debug-background-color(rgba(orange, 0.5));
}

address {
  font-style: italic;
}
