<form class="form email-form" #emailForm="ngForm" (submit)="onSubmitEmail()">
    <div class="form__group">
        <label for="email" class="label">Email <span *ngIf="!user.email_verified">(Please Confirm)</span></label>
        <input id="email" type="email" name="email" class="input" [readonly]="!(isEditing$|async)" [placeholder]="user?.email"
               [(ngModel)]="emailModel" required [pattern]="emailRegex" [gnFocus]="isEditing$ | async">

        <div class="form__button-group">
            <button class="button button--opaque" *ngIf="!(isEditing$|async)" (click)="isEditing$.next(true)"
                    [disabled]="!user.email_verified" title="Confirm current email address before updating.">EDIT
            </button>
        </div>

        <div class="form__button-group" *ngIf="isEditing$ | async">
            <button class="button button--opaque" type="submit" [disabled]="!emailForm.valid">SAVE</button>
            <button class="button button--hollow form__cancel-button" (click)="isEditing$.next(false)">CANCEL</button>
        </div>
    </div>
</form>

<!--<div>
    <p>A confirmation email has been sent to xxx@email. Please click the enclosed confirmation link to complete the email update process.
       Your current email settings will be remain unchanged until email verification is complete.</p>
</div>-->

<!-- todo: You can click this as many times as you want -->
<div *ngIf="!user.email_verified">
    <button (click)="onClickResend()">Resend Confirmation Email</button>
</div>

<div class="default-study-language">
    <label class="label default-study-language__label">Default Study Language</label>
    <gn-select (selection$)="updateDefaultStudyLanguage($event)" [options]="studyLanguageOptions"
               [selected]="user.default_study_language_code"></gn-select>
</div>

<hr>

<form class="form password-form" #passwordForm="ngForm" (submit)="onSubmitPassword()" [gnMatch]="['new-password', 'confirm-password']">
    <div class="form__group">
        <label for="current-password" class="label">Current Password</label>
        <input id="current-password" class="input" type="password" name="current-password" minlength="8" maxlength="50" required
               [(ngModel)]="passwordModel.current">
    </div>

    <div class="form__group">
        <label for="new-password" class="label">New Password</label>
        <input id="new-password" class="input" type="password" name="new-password" minlength="8" maxlength="50" required
               [(ngModel)]="passwordModel.replace">
        <gn-password-strength [password]="passwordModel.replace"></gn-password-strength>
    </div>

    <div class="form__group">
        <label for="confirm-password" class="label">Confirm New Password</label>
        <input id="confirm-password" class="input" type="password" name="confirm-password" minlength="8" maxlength="50" required
               [(ngModel)]="passwordModel.confirm">
    </div>

    <button class="button button--opaque form__button" type="submit" [disabled]="!passwordForm.valid">UPDATE</button>
</form>
