@import '../../../styles/core';

.container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.container__img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.container__header {
  text-align: center;
  margin-top: 40px;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto 0;
}