<main class="main">
    <div class="container">
        <img gnGoogleStorageImage="/assets/icons/check-shield.svg" alt="Password Reset Complete" i18n-alt="Password reset complete image alt text@@470968075cfce4d1add9a88bac0f4aef" class="container__img">
        <h1 class="container__header" i18n="Password reset success message on password reset complete page@@111ff1489ca9ec6edb985c15fc620c9b">Your password has been reset.</h1>
        <nav class="container__nav">
            <a class="link" [routerLink]="['/']" i18n="Home link text on password reset complete page@@e747835f5bc447aafce4830c30199f20">Home</a>
            <a class="link" [routerLink]="['/library']" i18n="Library link text on password reset complete page@@b9c64141a976323f1962b9b7cf71b6a7">Library</a>
            <a class="link" [routerLink]="['/help']" i18n="Contact link text on password reset complete page@@d8699481e23f4c9233b5261918db32a8">Contact</a>
        </nav>
    </div>
</main>
