@import '../../../scss/core';

.main {
  @include border-radius(30px);
  background: rgba($default-color, 0.7);
  cursor: move;
  color: $white;
  padding: 30px;
  position: absolute;
  width: 150px;
  font-size: $font-size-x-small;
  z-index: 9;
}

.header--logged-in {
  padding-bottom: 10px;
}

.link {
  color: $white;
  font-size: $font-size-x-small;
}
