<main>

    <section class="videos-section">
        <div class="section-title-frame">
            <h1 class="section-title-label">Videos</h1>
        </div>

        <ul class="videos-list">
            <li *ngFor="let v of videos">
                <gn-video-panel *ngIf="!v.isPlaceholder" class="videos-list-item"></gn-video-panel>
                <div class="videos-list-item flex-item" *ngIf="v.isPlaceholder"></div>
            </li>
        </ul>

        <button class="load-more-button">LOAD MORE</button>
    </section>

    <hr>

    <section class="goals-section">
        <div class="section-title-frame">
            <h1 class="section-title-label">Goals</h1>
        </div>

        <ul class="goals-list">
            <li class="goals-list-item">
                <h3 class="goal-count">10"</h3>
                <span class="goal-label">CURRENT STREAK</span>
            </li>

            <li class="goals-list-item">
                <h3 class="goal-count">126</h3>
                <span class="goal-label">TOTAL COMPLETIONS</span>
            </li>

            <li class="goals-list-item">
                <h3 class="goal-count">26"</h3>
                <span class="goal-label">LONGEST STREAK</span>
            </li>
        </ul>
    </section>

    <hr>

    <section class="answers-section">
        <div class="section-title-frame">
            <h1 class="section-title-label">Answers</h1>
            <ul class="section-title-menu">
                <li class="section-title-menu-item">LAST 30 DAYS</li>
                <li class="section-title-menu-item">LAST 90 DAYS</li>
                <li class="section-title-menu-item">LAST YEAR</li>
                <li class="section-title-menu-item">ALL TIME</li>
            </ul>
        </div>

        <ul class="answers-list">
            <li *ngFor="let n of answers; let even = even" [ngClass]="{'striped-item': even}" class="answers-list-item">
                <div class="answer-body">
                    <h6 class="video-title">Video Title ({{ n }})</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, consectetur delectus et ex
                       nemo, praesentium quibusdam quod recusandae reprehenderit sit vel veritatis voluptatum. Assumenda
                       culpa dolores enim quibusdam totam?</p>
                </div>

                <span class="answer-aside">December 10, 2016</span>
            </li>
        </ul>

        <button class="load-more-button">LOAD MORE</button>
    </section>

</main>