@import '../../scss/core';
@import './dashboard.component.debug';

// ---- Shared

.section-title-frame {
  display: flex;
  margin-right: auto;
}

.section-title-frame .section-title-label {
  align-self: center;
  width: 310px;
}

.section-title-frame .section-title-menu {
  align-self: center;
  display: flex;
  width: $main-width - 310px;
}

.section-title-frame .section-title-menu-item {
  @include font-weight-bold;
  color: $regent-gray;
  cursor: pointer;
  font-size: $font-size-x-small;
  letter-spacing: $uppercase-label-letter-spacing;
  margin-right: 20px;

  &.active, &:hover {
    color: $default-color;
  }
}

hr {
  margin: 50px auto;
}

.load-more-button {
  @include font-weight-bold;
  @extend %rounded-button;
  background: $white;
  border-color: $periwinkle-gray;
  color: $regent-gray;
  font-size: $font-size-x-small;
  letter-spacing: $uppercase-label-letter-spacing/2;
  margin-top: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.videos-section, .answers-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

// ---- Videos

.videos-section .videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.videos-section .videos-list .videos-list-item.flex-item {
  height: 100%;
  width: ($main-width - 60px) / 3;
}

// ---- Goals

.goals-section .goals-list {
  display: flex;
  margin-top: 40px;
}

.goals-section .goals-list .goals-list-item {
  flex-grow: 1;
}

.goals-section .goals-list .goals-list-item .goal-count {
  color: $shamrock;
  font-size: 30px;
}

.goals-section .goals-list .goals-list-item .goal-label {
  @include font-weight-bold;
  font-size: $font-size-x-small;
  letter-spacing: $uppercase-label-letter-spacing;
}

// ---- Answers

.answers-section .answers-list {
  margin-top: 40px;
  width: 100%;
}

.answers-section .answers-list .answers-list-item {
  display: flex;
  padding: 20px;

  &.striped-item {
    background: $aqua-haze;
  }
}

.answers-section .answers-list .answers-list-item .answer-body {
  max-width: 700px;

  .video-title {
    color: $shamrock;
  }
}

.answers-section .answers-list .answers-list-item .answer-aside {
  color: $regent-gray;
  margin-left: auto;
}
