<main>
    <section class="section section_video-panels">
        <header class="section-header">
            <h1 class="section-header__title">Videos</h1>
        </header>

        <ul class="video-panels">
            <li *ngFor="let v of videos">
                <gn-video-panel [showOverlay]="true" *ngIf="!v.isPlaceholder"></gn-video-panel>
                <div class="video-panels__flex-panel" *ngIf="v.isPlaceholder"></div>
            </li>
        </ul>

        <button class="button section__button">LOAD MORE</button>
    </section>

    <hr>

    <section class="section section_goals">
        <header class="section-header">
            <h1 class="section-header__title">Goals</h1>
        </header>

        <ul class="goals">
            <li class="goals__goal">
                <h3 class="goals__goal-count">10"</h3>
                <span class="goals__goal-title">CURRENT STREAK</span>
            </li>

            <li class="goals__goal">
                <h3 class="goals__goal-count">126</h3>
                <span class="goals__goal-title">TOTAL COMPLETIONS</span>
            </li>

            <li class="goals__goal">
                <h3 class="goals__goal-count">26"</h3>
                <span class="goals__goal-title">LONGEST STREAK</span>
            </li>
        </ul>
    </section>

    <hr>

    <section class="section section_answers">
        <header class="section-header">
            <h1 class="section-header__title">Answers</h1>
            <ul class="section-header__menu">
                <li class="section-header__menu-item section-header__menu-item_active">LAST 30 DAYS</li>
                <li class="section-header__menu-item">LAST 90 DAYS</li>
                <li class="section-header__menu-item">LAST YEAR</li>
                <li class="section-header__menu-item">ALL TIME</li>
            </ul>
        </header>

        <ul class="answers">
            <li *ngFor="let n of answers; let even = even" [ngClass]='{"answers__answer_striped": even}' class="answers__answer">
                <div class="answers__answer-body">
                    <h6 class="answers__answer-title">Video Title ({{ n }})</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, consectetur delectus et ex
                       nemo, praesentium quibusdam quod recusandae reprehenderit sit vel veritatis voluptatum. Assumenda
                       culpa dolores enim quibusdam totam?</p>
                </div>

                <span class="answers__answer-date">December 10, 2016</span>
            </li>
        </ul>

        <button class="button section__button">LOAD MORE</button>
    </section>
</main>
