<main class="main">
    <gn-video-player [loop]="true" [src]="src" [autoplay]="true"></gn-video-player>
    <span class="link instructions-link" (click)="onClickOpenModal()" i18n="shadowing instructions popup label@@9c24a94106a31ff3bfb85e5bed1383f4">Instructions</span>

    <gn-modal [isVisible]="isModalPresented$ | async" (close)="onCloseModal()">
        <p class="paragraph" i18n="Shadowing instructions that appear in the popup@@bbd8d629521dfecde4c66501dd9010f8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur consequuntur, culpa cum cumque delectus dicta earum eligendi <span class="link">eum illum</span> inventore iste itaque labore magni nam suscipit vero? Commodi, deleniti.</p>
    </gn-modal>
</main>
