<div class="banner">
    <h1 class="banner__title" i18n="banner description|A one sentence description of the purpose of the website@@431efa4827f2666c07cb2986934f7ec4">getnative is a language learning resource for advanced speakers</h1>
</div>

<main class="main">
    <div class="headline headline_large-features">
        <h1 class="headline__title" i18n="headline|A short description of the purpose of the website@@63ab48fc4aa50ea5685abb76ddc54794">A language learning resource for advanced speakers</h1>
        <!-- TODO: Insert text -->
        <p class="headline__paragraph" i18n="headline paragraph|A brief description of the purpose of the website@@1e18db402c99d2bf94ad552a5f0228f6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at culpaducimus fugiat impeditiure nobis repellendus. Accusamus consectetur dicta?</p>
    </div>

    <section class="section section_large-features">
        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1">
                <img src="../../../assets/images/feature01.jpg" alt="Video database" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title" i18n="video db feature title|The title of the video database feature description@@fb641dc07645e335fa9e727646d03c9b">Video database</h3>
                <p class="feature__paragraph" i18n="video db feature description|The description of the video database feature@@fb658a869160db95975603149cb0661d">
                    Get native is all about breaking the barrier between fluid speech and native like speech. Our way
                    of breaking the barrier is through intensive observation, pronunciation practice and active learning
                    using video interviews of native speakers. Needless to say in order for this to work we need a lot
                    of interview videos!
                </p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="2">
                <img src="../../../assets/images/feature02.jpg" alt="Study like the pros" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="1">
                <h3 class="feature__title" i18n="study session feature title|The title of the study session feature description@@f25fc28ef1ce003a1d2e2b74c4edf503">Study like the pros</h3>
                <p class="feature__paragraph" i18n="study session feature description|The description of the study session feature@@a77cb5d4f5ba2526709496556d8aa4be">
                    Wouldn't it be awesome to have an intense language study session in 15 minutes, or even 10? If
                    you're an Advanced learner of the language you may already have your own study routine. But that
                    study routine might include getting out books, scrolling through web pages -- it could take up to 10
                    minutes just to get all the materials ready!
                </p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1">
                <img src="../../../assets/images/feature03.jpg" alt="A tool for advanced language learners" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title" i18n="advanced material feature title|The title for the advanced material feature description@@e32fb4bb878da11006facfc293ae5955">A tool for advanced language learners</h3>
                <p class="feature__paragraph" i18n="advanced material feature description|The description for the advanced material feature@@929c28ca424552020939e6af075621ff">
                    getnative is most useful to language learners who already have a good command of the target
                    language, yet want to make the speech sound more like that of a native speaker. Finding good study
                    material is easy when you've just set out learning the target language. But as you advance, every
                    day material like newspapers, journal articles, TV, podcasts and conversations with other speakers
                    might become the core of your study routine.
                </p>
            </li>
        </ul>
    </section>

    <div class="headline">
        <h1 class="headline__title" i18n="other features section title|The title eluding to additional feature descriptions@@2cd5d943017487b4035bb1951f66f72a">That's not all..</h1>
    </div>

    <section class="section section_small-features">
        <ul class="small-features">
            <li class="feature feature--small">
                <img src="../../../assets/icons/globe.svg" alt="Perfect for polyglots" class="feature__image">
                <h5 class="feature__title" i18n="polyglots feature description title|The title for the polyglots feature description@@a07f3eac43e64f67a76e47ebc17a42b6">Perfect for polyglots</h5>
                <p class="feature__paragraph">No need to clutter your desk with study materials in multiple languages. Blaze through study
                                              sessions in multiple languages.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../../assets/icons/padlock.svg" alt="Open-source" class="feature__image">
                <h5 class="feature__title">Open-source</h5>
                <p class="feature__paragraph">See the magic happening under the hood on our GitHub page. Pull requests and contributions
                                              welcome!</p>
            </li>

            <li class="feature feature--small">
                <img src="../../../assets/icons/check-shield.svg" alt="Better security" class="feature__image">
                <h5 class="feature__title">Better security</h5>
                <p class="feature__paragraph">We take your private information seriously. getnative uses encryption to protect your
                                              data.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../../assets/icons/check-badge.svg" alt="Easy-to-use interface" class="feature__image">
                <h5 class="feature__title">Easy-to-use interface</h5>
                <p class="feature__paragraph">Our designers work hard to design simple and intuitive user interfaces.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../../assets/icons/support.svg" alt="Support" class="feature__image">
                <h5 class="feature__title">Support</h5>
                <p class="feature__paragraph">Questions or feedback? Drop us an email. We’d love to help out in anyway we can.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../../assets/icons/registration.svg" alt="Simple registration" class="feature__image">
                <h5 class="feature__title">Simple registration</h5>
                <p class="feature__paragraph">Don't want to keep track of another password? Create an account in seconds with Facebook or
                                              Gmail.</p>
            </li>
        </ul>
    </section>

    <hr>

    <div class="headline">
        <h1 class="headline__title" i18n="sign up title|The title leading users to sign up@@beb769a747c4efb1ba5ffa1c564dd23c">Sign up for free</h1>
        <p class="headline__paragraph" i18n="sign up description|A short description about signing up@@9c6d5f890ec8e6bd73277ac9ab8686d0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
                                       architecto asperiores aut, consectetur dicta doloremque eius error facilis hic
                                       modi nulla obcaecati odio quis, ratione recusandae repudiandae sit, ut!</p>

        <button class="button headline__button" (click)="loginModal.showModal()" i18n="sign up button|The title for the sign up button@@e5b7634ee07ba35dbd442c8a53fbeb1a">Sign in / Sign up</button>
    </div>

</main>
