<div class="banner" [style.backgroundPositionY]="bannerBackgroundPositionY + 'px'">
    <h1 class="banner__title" i18n="A one sentence description of the purpose of the website@@431efa4827f2666c07cb2986934f7ec4">getnative is a free online language learning tool</h1>
</div>

<main class="main">
    <div class="headline headline_large-features">
        <h1 class="headline__title" i18n="A short description of the purpose of the website@@63ab48fc4aa50ea5685abb76ddc54794">Optimize your language learning</h1>
        <p class="headline__paragraph" i18n="A brief description of the purpose of the website@@1e18db402c99d2bf94ad552a5f0228f6">Using high quality videos of real native speakers, getnative guides you through an automated, intensive study routine. You only decide how much time to spend.</p>
    </div>

    <section class="section section_large-features">
        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1" [style.marginLeft]="xOffset[0] + 'px'" [style.opacity]="opacity[0]">
                <img gnGoogleStorageImage="/assets/images/feature01.jpg" i18n-alt="Alternative text for image of first large homepage feature@@37b0847e5aa24a6f1b58091a13bff6c9" alt="Video Library" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title" i18n="The title of the video database feature description@@fb641dc07645e335fa9e727646d03c9b">Video Library</h3>
                <p class="feature__paragraph" i18n="The description of the video database feature@@fb658a869160db95975603149cb0661d">For your learning purposes, getnative provides a library of high quality videos of real native speakers speaking off the top of their heads. Each video comes with an accurate transcription of the original language, as well as various translations.</p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="2" [style.marginRight]="xOffset[1] + 'px'" [style.opacity]="opacity[1]">
                <img gnGoogleStorageImage="/assets/images/feature02.jpg" i18n-alt="Alternative text for image of second large homepage feature@@da9431dac46430ad694352ca7bb4d6e7" alt="Study quickly & effectively" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="1">
                <h3 class="feature__title" i18n="The title of the study session feature description@@f25fc28ef1ce003a1d2e2b74c4edf503">Study quickly & effectively</h3>
                <p class="feature__paragraph" i18n="The description of the study session feature@@a77cb5d4f5ba2526709496556d8aa4be">getnative guides you through a series of learning exercises optimized to help you learn the most in the shortest time possible. A single study session can take as little as 5 minutes to complete.</p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1" [style.marginLeft]="xOffset[2] + 'px'" [style.opacity]="opacity[2]">
                <img gnGoogleStorageImage="/assets/images/feature03.jpg" i18n-alt="Alternative text for image of third large homepage feature@@426ade5d0c2b2797a217d0ad3746b217" alt="Active Learning" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title" i18n="The title for the advanced material feature description@@e32fb4bb878da11006facfc293ae5955">Active Learning</h3>
                <p class="feature__paragraph" i18n="The description for the advanced material feature@@929c28ca424552020939e6af075621ff">getnative focuses on actively using the language — not memorizing grammar or vocabulary — to naturally lead you toward using the language in a way similar to that of a native speaker.</p>
            </li>
        </ul>
    </section>

    <div class="headline">
        <h1 class="headline__title" i18n="The title eluding to additional feature descriptions@@2cd5d943017487b4035bb1951f66f72a">That's not all..</h1>
    </div>

    <section class="section section_small-features">
        <ul class="small-features">
            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/globe.svg" i18n-alt="Alternative text for first small homepage feature@@4d66a6a930bfbf72733707ea8ba39baa" alt="Perfect for polyglots" class="feature__image">
                <h5 class="feature__title" i18n="The title for the polyglots feature description@@a07f3eac43e64f67a76e47ebc17a42b6">Perfect for Polyglots</h5>
                <p class="feature__paragraph" i18n="First small feature description about using getnative with multiple languages@@50ba40aa73787d637c8548536fdc80a5">Easily switch between multiple target languages from the global menu.</p>
            </li>

            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/registration.svg" i18n-alt="Alternative text for sixth small homepage feature@@6b3305bf07712acfab42744cfa74a94f" alt="Simple Registration" class="feature__image">
                <h5 class="feature__title" i18n="Simple registration small feature title@@1b3e0d60fb204c5a8b5e273cbc8a9034">Simple Registration</h5>
                <p class="feature__paragraph" i18n="Simple registration small feature description@@7f31334d10f103ad7bf166bd7eaf2135">Create an account in seconds using Email, Facebook, Twitter or Google.</p>
            </li>

            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/support.svg" i18n-alt="Alternative text for fifth small homepage feature@@35c5528d0ca434c4bff0e602e8bfaebc" alt="Support" class="feature__image">
                <h5 class="feature__title" i18n="Q&A small feature title@@6a68b2966295df786ccd4271be635569">Support</h5>
                <p class="feature__paragraph" i18n="Q&A small feature description@@bee91d91bacd446731eae12b466d5733">We’re available directly by email for and questions or comments.</p>
            </li>

            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/check-shield.svg" i18n-alt="Alternative text for third small homepage feature@@11115428e93492fb7d468a12f92c72a4" alt="Better Security" class="feature__image">
                <h5 class="feature__title" i18n="Security small feature title@@25ae55cf7088e62afff8719e11dd9c1c">Better Security</h5>
                <p class="feature__paragraph" i18n="Security small feature description@@c18bbb62e2d47da151dbc5794a2d730a">Your data is protected by the latest web application security standards.</p>
            </li>

            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/check-badge.svg" i18n-alt="Alternative text for fourth small homepage feature@@d21e6ec19aadec899196fb80ea88d509" alt="Intuitive Design" class="feature__image">
                <h5 class="feature__title" i18n="Easy-to-use interface small feature title@@39d0472c40a4afd2c94909429c53a8ac">Intuitive Design</h5>
                <p class="feature__paragraph" i18n="Easy-to-use interface small feature description@@d999dc80d833746fe5275ef7f87607b1">getnative has an elegant interface that is easy to use and understand.</p>
            </li>

            <li class="feature feature--small">
                <img gnGoogleStorageImage="/assets/icons/padlock.svg" i18n-alt="Alternative text for second small homepage feature@@f041abb679493c7cc3705618fc830284" alt="Open-source" class="feature__image">
                <h5 class="feature__title" i18n="Open-source small feature title@@a9dbbc57ac75c6c7efe20372def211c2">Active Maintenance</h5>
                <p class="feature__paragraph" i18n="Open-source small feature description@@89609c2553a04bf2845e79d4ef4c6bcd">getnative is actively maintained to deliver a bug free experience.</p>
            </li>
        </ul>
    </section>

    <hr>

    <div class="headline">
        <h1 class="headline__title" i18n="The title leading users to sign up@@beb769a747c4efb1ba5ffa1c564dd23c">Sign up for free</h1>
        <p class="headline__paragraph" i18n="A short description about signing up@@9c6d5f890ec8e6bd73277ac9ab8686d0">Click the following button to continue to the registration screen. getnative is a free online language learning resource and does not require payment to use.</p>
        <button class="button headline__button" [routerLink]="[{outlets: {modal: 'login'}}]" i18n="The title for the sign up button@@e5b7634ee07ba35dbd442c8a53fbeb1a">Sign in / Sign up</button>
    </div>
</main>
