<div class="banner">
    <h1 class="banner__title">Get Native is a language learning resource for advanced speakers</h1>
</div>

<main class="main">
    <div class="headline headline_large-features">
        <h1 class="headline__title">A language learning resource for advanced speakers</h1>
        <!-- TODO: Insert text -->
        <p class="headline__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at culpa
                                       ducimus fugiat impeditiure nobis repellendus. Accusamus consectetur dicta?</p>
    </div>

    <section class="section section_large-features">
        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1">
                <img src="../../../assets/images/feature01.jpg" alt="Video database" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title">Video database</h3>
                <p class="feature__paragraph">
                    Get native is all about breaking the barrier between fluid speech and native like speech. Our way
                    of breaking the barrier is through intensive observation, pronunciation practice and active learning
                    using video interviews of native speakers. Needless to say in order for this to work we need a lot
                    of interview videos!
                    <!--<br>
                    The get native video database currently contains X video interviews in English and Japanese, and we
                    will continue to add more. The interviews are all related to things innately interesting to language
                    learners and those interested in other cultures. Have an idea for an interesting subcategory? We'd love to
                    hear what you think.-->
                </p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="2">
                <img src="../../../assets/images/feature02.jpg" alt="Study like the pros" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="1">
                <h3 class="feature__title">Study like the pros</h3>
                <p class="feature__paragraph">
                    Wouldn't it be awesome to have an intense language study session in 15 minutes, or even 10? If
                    you're an Advanced learner of the language you may already have your own study routine. But that
                    study routine might include getting out books, scrolling through web pages -- it could take up to 10
                    minutes just to get all the materials ready!
                    <!--<br>
                    Get native offers study sessions, which are kind of like an app inside an app. Once you find a
                    video that you'd like to study, specify the amount of time that you'd like to study and Get Native
                    will guide you through a study routine designed to help you improve your pronunciation in fluidity
                    in the target language.-->
                </p>
            </li>
        </ul>

        <ul class="feature feature--large">
            <li class="feature__image-column" [style.order]="1">
                <img src="../../../assets/images/feature03.jpg" alt="A tool for advanced language learners" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="2">
                <h3 class="feature__title">A tool for advanced language learners</h3>
                <p class="feature__paragraph">
                    Get Native is most useful to language learners who already have a good command of the target
                    language, yet want to make the speech sound more like that of a native speaker. Finding good study
                    material is easy when you've just set out learning the target language. But as you advance, every
                    day material like newspapers, journal articles, TV, podcasts and conversations with other speakers
                    might become the core of your study routine.
                    <!--<br>
                    As a language learner myself, I often wished they were more language learning materials focused on
                    native like pronunciation and vocabulary use. Get native gives you the tools that you need to sound
                    more native-like and use more natural phrases and collocations.-->
                </p>
            </li>
        </ul>
    </section>

    <div class="headline">
        <h1 class="headline__title">That's not all..</h1>
    </div>

    <section class="section section_small-features">
        <ul class="small-features">
            <li class="feature feature--small">
                <img src="../../assets/icons/globe.svg" alt="Perfect for polyglots" class="feature__image">
                <h5 class="feature__title">Perfect for polyglots</h5>
                <p class="feature__paragraph">No need to clutter your desk with study materials in multiple languages. Blaze through study
                                              sessions in multiple languages.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../assets/icons/padlock.svg" alt="Open-source" class="feature__image">
                <h5 class="feature__title">Open-source</h5>
                <p class="feature__paragraph">See the magic happening under the hood on our GitHub page. Pull requests and contributions
                                              welcome!</p>
            </li>

            <li class="feature feature--small">
                <img src="../../assets/icons/check-shield.svg" alt="Better security" class="feature__image">
                <h5 class="feature__title">Better security</h5>
                <p class="feature__paragraph">We take your private information seriously. Get Native uses encryption to protect your
                                              data.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../assets/icons/check-badge.svg" alt="Easy-to-use interface" class="feature__image">
                <h5 class="feature__title">Easy-to-use interface</h5>
                <p class="feature__paragraph">Our designers work hard to design simple and intuitive user interfaces.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../assets/icons/support.svg" alt="Support" class="feature__image">
                <h5 class="feature__title">Support</h5>
                <p class="feature__paragraph">Questions or feedback? Drop us an email. We’d love to help out in anyway we can.</p>
            </li>

            <li class="feature feature--small">
                <img src="../../assets/icons/registration.svg" alt="Simple registration" class="feature__image">
                <h5 class="feature__title">Simple registration</h5>
                <p class="feature__paragraph">Don't want to keep track of another password? Create an account in seconds with Facebook or
                                              Gmail.</p>
            </li>
        </ul>
    </section>

    <hr>

    <div class="headline">
        <h1 class="headline__title">Sign up for free</h1>
        <p class="headline__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
                                       architecto asperiores aut, consectetur dicta doloremque eius error facilis hic
                                       modi nulla obcaecati odio quis, ratione recusandae repudiandae sit, ut!</p>

        <button class="button headline__button" (click)="loginModal.showModal()">Sign in / Sign up</button>
    </div>

</main>
