@import '../../../scss/core';
@import './home.component.debug';

.banner {
  background: url("../../../assets/images/home-background.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-top: -$navbar-height;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.banner__title {
  text-align: center;
  margin: 90px auto 0;
  width: 600px;
}

.headline {
  margin: 100px auto 0;
  text-align: center;
  width: $main-width * (3/4);
}

.headline__paragraph {
  color: #6c7680; // TODO: Variable
  margin-top: 30px;
}

.headline__button {
  @include font-weight-regular;
  background: $white;
  border-color: $shamrock;
  color: $shamrock;
  font-size: $font-size-small;
  padding-top: 9px;
  padding-bottom: 7px;
  margin-top: 40px;
}

.headline_large-features {
  margin-top: 100px;
}

.section_large-features {
  margin-top: 100px;
}

.feature.feature--large {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.feature__description-column {
  width: ($main-width/2) - 30px;
}

.feature.feature--large .feature__image {
  box-shadow: 0 6px 20px 0 rgba($black, 0.15);
  height: 270px;
  width: ($main-width/2) - 15px;
}

.feature.feature--large .feature__title {
  @include font-weight-regular;
  color: $shamrock;
}

.feature.feature--large .feature__paragraph {
  margin-top: 40px;
}

hr {
  margin-top: 80px;
  padding-bottom: 20px;
}

.small-features {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 40px;
}

.feature--small {
  text-align: center;
  width: ($main-width/3) - 30px;
}

.feature.feature--small .feature__image {
  height: 70px;
  margin-top: 30px;
  width: 70px;
}

.feature.feature--small .feature__title {
  font-size: $font-size-regular;
  margin-top: 30px;
}

.feature.feature--small .feature__paragraph {
  color: $pale-sky;
  margin-top: 35px;
}
