<div class="toolbar" (mouseleave)="isTooltipVisible$.next(false)">

    <ul class="toolbar__tooltip-languages" [@enterUpLeaveDown] *ngIf="isTooltipVisible$ | async">
        <li class="toolbar__language-label" *ngFor="let language of language$ | async" (click)="setCurrentStudyLanguage(language)">
            {{ language.name }}
        </li>
    </ul>

    <span class="toolbar__language-label toolbar__language-label_selected" (click)="isTooltipVisible$.next(!isTooltipVisible$.getValue())"
          (mouseenter)="isTooltipVisible$.next(true)">
        {{ currentStudyLanguageName$ | async }}
    </span>

    <nav class="toolbar__links">
        <a class="toolbar__link toolbar__link--settings" [routerLink]="'settings'">
            <img class="toolbar_link-icon" src="/assets/icons/settings.svg" alt="settings">
        </a>

        <a class="toolbar__link" [routerLink]="'help'">
            <img class="toolbar_link-icon" src="/assets/icons/help.svg" alt="help">
        </a>

        <a class="toolbar__link" (click)="logout()">
            <img class="toolbar_link-icon" src="/assets/icons/sign-out.svg" alt="sign-out">
        </a>
    </nav>
</div>
