<main>
    <section class="section section_video-detail">
        <div class="column column_video">

        </div>

        <div class="column column_transcript"></div>
    </section>

    <section class="section section_related-videos">
        <header class="section-header">
            <h1 class="section-header__title">Related Videos</h1>
        </header>

        <ul class="video-panels">
            <li *ngFor="let v of videos">
                <gn-video-panel *ngIf="!v.placeholder" [routerLink]="['/library', 1]"></gn-video-panel>
                <div class="video-panels__flex-panel" *ngIf="v.placeholder"></div>
            </li>
        </ul>
    </section>
</main>