@import '../../styles/core';

:host /deep/ {
  .paragraph {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    color: $pale-sky;
    width: 75%;
  }

  .form {
    display: flex;
    padding: 0 30px;
    flex-flow: column wrap;
  }

  .form__required-indicator {
    color: $red-orange;
  }

  .form__button {
    align-self: flex-end;
    margin-top: 30px;
  }

  .form__input.ng-invalid.ng-touched {
    border-color: $red;
  }

  .form__input.ng-valid.ng-touched {
    border-color: $malachite;
  }

  .footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 48px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;

    .footer__link, .paragraph {
      padding-top: 10px;
      align-self: center;
    }

    .paragraph {
      margin: 0;
      width: 100%;
    }

    &.footer-inline {
      flex-direction: row;
    }
  }

  .error-messages {
    @include list-unstyled;
    font-family: $headings-font-family;
    color: red;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }
}

.modal-frame {
  width: 400px;
}
