<div class="video-panel">
    <img src="http://lorempixel.com/280/280" alt="">

    <div class="panel-overlay">
        <div class="video-options">

            <div class="options-row">
                <div class="minute-button-container">
                    <div class="minute-button" id="placeholder_1"></div>
                    <div class="minute-button" id="placeholder_2"></div>
                </div>
                <span class="study-minutes">15 minutes</span>
            </div>

            <button>Begin</button>
        </div>
    </div>

    <div class="panel-footer">
        <h5 class="video-title">I do. You do. He does.</h5>
        <span class="video-speaker">by Ron Weasley</span>

        <div class="video-stats">
            <div class="length">
                <img src="../../../assets/icons/time.svg" alt="time">
                <span>2m</span>
            </div>

            <div class="views">
                <img src="../../../assets/icons/view.svg" alt="views">
                <span>1k</span>
            </div>

            <span class="video-created-on">10 Dec 2016</span>
        </div>
    </div>
</div>
