<div class="video-panel">
    <img [src]="video.thumbnail_image_url" alt="video-thumbnail">

    <div class="video-panel__overlay" [ngClass]="{'video-panel__overlay_link': !showControls}" (click)="onClickOverlay()">
        <div class="controls" *ngIf="showControls">
            <div class="controls__row">
                <div class="controls__minute-button-frame">
                    <div class="controls__minute-button" (click)="onClickMinuteButtonIncrement()"></div>
                    <div class="controls__minute-button" (click)="onClickMinuteButtonDecrement()"></div>
                </div>

                <label for="time" class="sr-only">Time</label>
                <input id="time" class="controls__input" [(ngModel)]="time" type="number" [min]="min" step="1" [max]="max" readonly>
                <span class="controls__minutes-label">minutes</span>
            </div>
            <div class="controls__row">
                <button class="controls__button" (click)="onBegin()">Begin</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <h5 class="footer__video-title">{{ video.topic.name }}</h5>
        <span class="footer__video-speaker">by {{ video.speaker.name }}</span>

        <div class="video-stats">
            <div class="video-stats__length">
                <img class="video-stats__icon" src="../../../assets/icons/time.svg" alt="time">
                <span class="video-stats__label">{{ video.length | digitalTime }}</span>
            </div>

            <div class="video-stats__views">
                <img class="video-stats__icon" src="../../../assets/icons/view.svg" alt="views">
                <span class="video-stats__label">{{ video.loop_count }}</span>
            </div>

            <span class="video-stats__label video-stats__created-at">{{ createdAt }}</span>
        </div>
    </footer>
</div>
