<!--
li(class="gn-video")
//
//  img(src="http://lorempixel.com/280/280", alt="")
//
//  div(class="gn-overlay")
//    div(class="gn-video-options")
//      div(class="gn-minute-btn-container")
//        div(class="gn-minute-btn gn-increment", id="placeholder_1")
//        div(class="gn-minute-btn gn-decrement", id="placeholder_2")
//      div(class="gn-study-minutes") 15 minutes
//      button Enroll
//
//  div(class="gn-video-footer")
//    h5 Id do. You do. He does.
//    div by Ron Weasley
//
//    div(class="gn-video-stats")
//      img(src="http://placehold.it/15/15", alt="")
//      span 56 min
//      span(class="gn-video-created-on") 10 Dec 2015
-->


