@import '../../../scss/core';
@import './video-panel.component.debug';

.video-panel {
  @include border-right-radius(10px);
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: 290px;
  width: (($main-width - 60px) / 3);
}

.video-panel__overlay {
  @include border-right-radius(10px);
  background-image: linear-gradient(to right, rgba($shamrock, 0.7), rgba($robin-egg-blue, 0.7));
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .1s;
  width: 100%;
}

.video-panel:hover .video-panel__overlay {
  opacity: 1;
}

.options {
  left: 50%;
  position: absolute;
  top: 33%;
  transform: translate(-50%, -50%);
}

.options > div {
  display: flex;
  flex-flow: row nowrap;
  & > * {
    align-self: center;
  }
}

.options .options__minute-button-frame {
  margin-right: 12px;
  width: 20px;
}

.options__minute-button {
  @include border-radius(2px);
  background: $white;
  cursor: pointer;
  height: 10px;
  width: 20px;
}

.options__minute-button:after {
  content: '';
  position: absolute;
  left: 5px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
}

.options__minute-button:first-child::after {
  top: 5px;
  border-bottom: 4px solid $shamrock;
}

.options__minute-button:last-child::after {
  top: 17px;
  border-top: 4px solid $shamrock;
}

.options__minute-button:last-child {
  margin-top: 2px;
}

.options .options__minutes-label {
  color: $white;
  padding-top: 2px;
}

.options__button {
  @include border-radius();
  background: $white;
  border: 0;
  color: $shamrock;
  cursor: pointer;
  display: block;
  font-size: $font-size-regular;
  height: 40px;
  margin-top: 12px;
  outline: none;
  width: 150px;
}

.footer {
  @include border-radius(0 0 10px 0);
  background: $black;
  bottom: 0;
  box-sizing: border-box;
  color: $white;
  font-size: $font-size-small;
  height: 100px;
  padding: 16px 18px;
  position: absolute;
  width: 100%;
}

.footer .video-stats {
  display: flex;
  font-size: $font-size-x-small;
  height: 16px;
  margin-top: 8px;
  overflow: hidden;
}

.video-stats__length, .video-stats__views {
  display: flex;
  flex-flow: row nowrap;
  width: 60px;
}

/* The bottom side of the <span> contains a 1px gap. This offsets that gap. */
.video-stats__label {
  padding-top: 1px;
}

.video-stats__icon {
  margin-right: 8px;
}

.video-stats__icon, .video-stats__label {
  align-self: center;
}

.video-stats__length .video-stats__icon {
  height: 100%;
}

.video-stats__views .video-stats__icon {
  height: 65%;
}

.video-stats__created-on {
  margin-left: auto;
}
