$red: #f00;
$ultra-light-grey: #ecf5f7;
$section-border-color: $ultra-light-grey;
$library-tabbar-bg-color: $ultra-light-grey;
$light-grey: #b8b8b8;
$black: #000;
$overlay-left: rgba(51, 204, 153, .8);
$overlay-right: rgba(0, 204, 204, .8);
$loading-bar-left: rgb(0, 197, 197);
$loading-bar-right: rgb(42, 197, 145);
$goals-section-label-green: rgba(51, 204, 153, .8);
$library-tabbar-text-color: #8f9ca8;
$video-controls-background-color: rgba(0, 0, 0, .7);
$video-controls-pause-button-background-color: rgba(0, 0, 0, .5);
$video-controls-progress-bar-color: #82909d;
$facebook-color: #3a589a;
$twitter-color: #50aaf0;
$gmail-color: #c3d4e5;
$transcript-slider-color: #3c9;
$usage-example-highlight-color: #ff9;
$video-time-font-color: rgba(255, 255, 255, .7);
$transcript-border-bottom-color: #f0f5f7;

// TODO: define colors as colors like 'light-green' first
// then set variables referring to their 'function'

// COLORS
$light-green: #3dcb9a;
$white: #fff;

// FUNCTIONS
$footer-hotlink-color: $light-green;
$home-large-feature-header-color: $light-green;
$home-sign-in-button-color: $light-green;
$home-sign-in-button-border-color: $light-green;
$home-sign-in-button-background-color: $white;
