/* App */
$aqua-haze:          #F0F5F7;
$aqua-haze-darker:   darken($aqua-haze, 5%);
$athens-gray:        #E7E6EB;
$black:              #000000;
$catskill-white:     #ECF5F7;
$chambray:           #3A589A;
$chambray-darker:    #324b80;
$cod-gray:           #1A1A1A;
$grey:               #B8B8B8;
$iceberg:            #D9F3E8;
$malachite:          #00CC33;
$pale-canary:        #FFFF99;
$pale-sky:           #6C7680;
$periwinkle-gray:    #C3D4E5;
$picton-blue:        #50AAF0;
$picton-blue-darker: darken($picton-blue, 5%);
$red:                #FF0000;
$red-orange:         #FF3333;
$shamrock:           #33CC99;
$spindle:            #B9D0E7;
$sunglow:            #FFCC33;
$regent-gray:        #8F9CA8;
$robin-egg-blue:     #00CCCC;
$white:              #FFFFFF;
$white-lilac:        #F6F5FB;
$wild-sand:          #F5F5F5;
/* Debug */
$dc01:               #0048BA;
$dc02:               #B0BF1A;
$dc03:               #7CB9E8;
$dc04:               #AF002A;
$dc05:               #84DE02;
$dc06:               #C46210;
$dc07:               #E52B50;
$dc08:               #E32636;
$dc09:               #FF7E00;
$dc10:               #6E7F80;
$dc11:               #FDEE00;
$dc12:               #568203;

// TODO: Rename based on usage
//$rounded-button-border-color: $spindle;
//$section-border-color: $catskill-white;
//$library-tabbar-bg-color: $catskill-white;
//$overlay-left: rgba($shamrock, 0.8);
//$overlay-right: rgba($robin-egg-blue, 0.8);
//$loading-bar-left: $robin-egg-blue;
//$loading-bar-right: $shamrock;
//$goals-section-label-green: rgba($shamrock, 0.8);
//$library-tabbar-text-color: $regent-gray;
//$video-controls-background-color: rgba($black, .7);
//$video-controls-pause-button-background-color: rgba($black, .5);
//$video-controls-progress-bar-color: $regent-gray;
//$transcript-slider-color: $shamrock;
//$usage-example-highlight-color: $pale-canary;
//$video-time-font-color: rgba($white, .7);
//$transcript-border-bottom-color: $aqua-haze;
