/* App colors */
$black:           #000000;
$white:           #FFFFFF;
$grey:            #B8B8B8;
$red:             #FF0000;
$shamrock:        #33CC99;
$spindle:         #B9D0E7;
$picton-blue:     #50AAF0;
$catskill-white:  #ECF5F7;
$pale-canary:     #FFFF99;
$robin-egg-blue:  #00CCCC;
$regent-gray:     #8F9CA8;
$chambray:        #3A589A;
$periwinkle-gray: #C3D4E5;
$aqua-haze:       #F0F5F7;
$iceberg:         #D9F3E8;
$athens-gray:     #E7E6EB;
$white-lilac:     #F6F5FB;

/* Debug colors */
$dc01: #0048BA;
$dc02: #B0BF1A;
$dc03: #7CB9E8;
$dc04: #AF002A;
$dc05: #84DE02;
$dc06: #C46210;
$dc07: #E52B50;
$dc08: #E32636;
$dc09: #FF7E00;
$dc10: #6E7F80;
$dc11: #FDEE00;
$dc12: #568203;

// TODO: Rename based on usage
//$rounded-button-border-color: $spindle;
//$twitter-logo-background-color: $picton-blue;
//$section-border-color: $catskill-white;
//$library-tabbar-bg-color: $catskill-white;
//$overlay-left: rgba($shamrock, 0.8);
//$overlay-right: rgba($robin-egg-blue, 0.8);
//$loading-bar-left: $robin-egg-blue;
//$loading-bar-right: $shamrock;
//$goals-section-label-green: rgba($shamrock, 0.8);
//$library-tabbar-text-color: $regent-gray;
//$video-controls-background-color: rgba($black, .7);
//$video-controls-pause-button-background-color: rgba($black, .5);
//$video-controls-progress-bar-color: $regent-gray;
//$facebook-color: $chambray;
//$gmail-color: $periwinkle-gray;
//$transcript-slider-color: $shamrock;
//$usage-example-highlight-color: $pale-canary;
//$video-time-font-color: rgba($white, .7);
//$transcript-border-bottom-color: $aqua-haze;
