@import "colors";
@import "functions";
@import "variables";
@import "mixins";

%rounded-button {
  @include border-radius(20px);
  border: 2px solid;
  cursor: pointer;
  font-size: $font-size-small;
  outline: none;
  padding: 9px pu(3) 11px;
}

%shamrock-link {
  color: $shamrock;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
    text-decoration-color: $iceberg;
  }
}
