@import "core";

html {
  @include font-weight-regular;
  overflow-y: scroll;
}

body {
  font-size: $font-size-regular;
  color: $cod-gray;
  line-height: $line-height-regular;
  box-sizing: border-box;
  min-width: 992px;
}

main {
  display: block;
  margin: 0 auto;
  width: $main-width;
}

@for $index from 1 through 6 {
  h#{$index} {
    @include font-weight-bold();
  }
}

h1 {
  font-size: $font-size-x-large;
}

h3 {
  font-size: $font-size-large;
}

hr {
  border: 0;
  border-top: 2px solid rgba($black, 0.1);
  border-top-color: #eeeeee;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
