@import "colors";
@import "variables";

@mixin border-radius($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin rounded-button($background-color: $white, $color: $light-grey, $border-color: $rounded-button-default-border-color) {
  @include border-radius(20px);
  background: $background-color;
  border: 2px solid $border-color;
  color: $color;
  cursor: pointer;
  font-size: $default-font-size;
  outline: none;
  padding: 10px 30px;
}
