@import "debug";
@import "colors";
@import "variables";

@mixin border-radius($border-radius: $default-border-radius) {
  border-radius: $border-radius;
  background-clip: padding-box;
}

@mixin rounded-button($background-color: $white, $color: $grey, $border-color: $rounded-button-border-color) {
  @include border-radius(20px);
  background: $background-color;
  border: 2px solid $border-color;
  color: $color;
  cursor: pointer;
  font-size: $sm-font-size;
  outline: none;
  padding: 7px 30px;
}

@mixin debug-background-color($background-color) {
  @if ($debug) {
    background-color: $background-color;
  }
}

@mixin debug-opacity($opacity) {
  @if ($debug) {
    opacity: $opacity;
  }
}
