$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;

$default-border-radius: 5px;

$navbar-height: 90px;

$main-width: 900px;

$padding-unit: 30px;

$line-height-regular: 1.5;
