@import './blocks/html';
@import './blocks/body';
@import './blocks/main';
@import './blocks/address';
@import './blocks/link';
@import './blocks/list';
@import './blocks/form';
@import './blocks/input';
@import './blocks/textarea';
@import './blocks/label';
@import './blocks/button';
@import './blocks/sr-only';

popover-container.popover {
  background: $white;
  border-radius: 0;
  border: none;
  box-shadow: 0 5px 10px 0 rgba($black, 0.2);
  padding: 20px;
  max-width: $main-width / 3;

  .popover-header {
    background: $white;
    border-bottom: none;
    font-size: $h5-font-size;
    padding: 0;
    margin-bottom: 8px;
  }

  .btn--end {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    img {
      width: 12px;
    }
  }

  .popover-content {
    padding: 0;
  }

  .tour-step-content {
    padding: 0;
  }

  .tour-step-navigation {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
