<main class="main">
    <gn-video-player [loop]="true"></gn-video-player>
    <span class="link instructions-link" (click)="showModal()">Instructions</span>

    <gn-modal [isVisible]="isModalVisible" (close)="onClose()">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur consequuntur,
                             culpa cum cumque delectus dicta earum eligendi <span class="link">eum illum</span>
                             inventore iste itaque labore magni nam suscipit vero? Commodi, deleniti.</p>
    </gn-modal>
</main>
