@import "../../scss/core";
@import "./help.component.debug";

/* Sizes */
$main-margin-top: pu(9);
$section-width: ($main-width / 2) - 15px;
$section-head-icon-width: pu(7);
$item-detail-border-width: 2px;
$chevron-width: 6px;

/* Colors */
$item-number-color: $grey;
$list-item-detail-border-color: $athens-gray;
$list-item-detail-background-color: $white-lilac;

main {
  display: flex;
  justify-content: space-between;
  margin-top: $main-margin-top;
}

section  {
  width: $section-width;
}

.section-head {
  align-items: center;
  display: flex;

  .icon-container {
    @include border-radius(50%);
    display: flex;
    border: 2px solid #e1e1e6;
    width: $section-head-icon-width;
    height: $section-head-icon-width;
    justify-content: center;
  }

  .icon {
    width: 45%;
    align-self: center;
  }
}

.section-head .title {
  font-size: $font-size-medium;
  padding-left: pu(2);
}

.section-body {
  margin-top: pu(3);
}

section.about li {
  margin-top: pu(2);
}

/* Remove whitespace between <span> tags */
.item-head {
  font-size: 0;
  span {
    font-size: $font-size-regular;
  }
}

.chevron {
  max-width: $chevron-width;
}

.chevron, .item-index {
  cursor: pointer;
  margin-right: pu();
}

.item-index {
  color: $item-number-color;
}

.item-label {
  @extend %shamrock-link;
}

.item-detail {
  @include border-radius();
  background: $list-item-detail-background-color;
  border: $item-detail-border-width solid $list-item-detail-border-color;
  font-size: $font-size-small;
  margin-top: pu(3);
  padding: pu(2.4);
  //opacity: 0;
}

.mail {
  @extend %shamrock-link;
}
