@import '../../../../scss/core';

.meter {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  height: 18px;
}

.segment {
  background: $aqua-haze;
  height: 6px;
  margin-right: 2px;
  width: ((250/5) - 2) + px;

  &.v-weak {
    @include border-left-radius();
  }

  &.v-weak.visible {
    background: $red;
  }

  &.weak.visible {
    background: $orange;
  }

  &.good.visible {
    background: $sunglow;
  }

  &.strong.visible {
    background: $atlantis;
  }

  &.v-strong {
    @include border-right-radius();
  }

  &.v-strong.visible {
    background: $malachite;
  }
}

.right-aligned-text {
  @include font-weight-bold();
  color: $pale-sky;
  font-size: 12px;
  margin-left: auto;
}
