@import '../../../scss/core';

.modal__header {
  @include border-top-radius();
  background: $shamrock;
  display: flex;
  justify-content: center;
  height: 100px;
}

.modal__logo {
  height: 30px;
  align-self: center;
}

.modal__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 22px;
}

.modal__button {
  @include border-radius();
  color: $white;
  width: 360px;
  height: 60px;
  display: flex;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  justify-content: flex-start;
  font-size: $font-size-regular;
}

.modal__button-icon, .modal__button-icon-frame {
  align-self: center;
  margin-left: 15px;
}

.modal__button-text {
  align-self: center;
  margin-left: 26px;
}

.modal__button_facebook {
  background: $chambray;
  border: none;
  border-bottom: 1px solid $chambray-dark;

  &:hover, &:focus {
    background: $chambray-dark;
  }
}

.modal__button_facebook .modal__button-icon {
  height: 30px;
  width: 30px;
}

.modal__button_twitter {
  background: $picton-blue;
  border: none;
  border-bottom: 1px solid $picton-blue-dark;

  &:hover, &:focus {
    background: $picton-blue-dark;
  }
}

.modal__button_twitter .modal__button-icon {
  height: 28px;
  width: 28px;
}

.modal__button_google {
  background: $white;
  border: 2px solid $aqua-haze;

  &:hover, &:focus {
    border-color: $aqua-haze-dark;
  }
}

.modal__button_google .modal__button-text {
  color: $regent-gray;
}

.modal__button_google .modal__button-icon {
  height: 34px;
  width: 34px;
}
