<div class="modal modal_social-login">

    <header class="modal__header">
        <img class="modal__logo" src="../../../assets/mock/pokeball.png" alt="logo">
    </header>

    <p class="paragraph">Sign in to Get Native with any of the following providers.</p>

    <section class="modal__body">

        <button class="modal__button modal__button_facebook tabbable" tabindex="1">
            <span class="modal__button-icon-frame">
                <img class="modal__button-icon" src="../../../assets/icons/social-facebook.svg" alt="facebook">
            </span>
            <span class="modal__button-text">Continue with Facebook</span>
        </button>

        <button class="modal__button modal__button_twitter tabbable" tabindex="2">
            <img class="modal__button-icon" src="../../../assets/icons/social-twitter.svg" alt="twitter">
            <span class="modal__button-text">Continue with Twitter</span>
        </button>

        <button class="modal__button modal__button_google tabbable" tabindex="3">
            <img class="modal__button-icon" src="../../../assets/icons/social-google.svg" alt="gmail">
            <span class="modal__button-text">Continue with Gmail</span>
        </button>

    </section>

    <footer class="footer">
        <span (click)="onSetModalView('email')" class="link footer__link tabbable" tabindex="4">Sign in with email</span>
        <span (click)="onSetModalView('register')" class="link footer__link tabbable" tabindex="5">Create a new account</span>
    </footer>

</div>
