@import '../../../scss/core';

.modal.modal-social header {
  @include border-top-radius();
  background: $shamrock;
  display: flex;
  justify-content: center;
  height: 100px;

  img {
    width: 30px;
    height: 30px;
    align-self: center;
  }
}

.modal.modal-social section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal.modal-social section {
  margin-top: 22px;
}

.modal.modal-social section button {
  @include border-radius();
  color: $white;
  width: 360px;
  height: 60px;
  display: flex;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  justify-content: flex-start;
  font-size: $font-size-regular;
}

.modal.modal-social button img,
.modal.modal-social button .facebook-bg {
  align-self: center;
  margin-left: 15px;
}

button span {
  align-self: center;
  margin-left: 26px;
}

.modal.modal-social .facebook {
  background: $chambray;
  border: none;
  border-bottom: 1px solid $chambray-darker;

  &:hover, &:focus {
    background: $chambray-darker;
  }

  .facebook-bg {
    @include border-radius(50%);
    background: $white;
    height: 22px;
    position: relative;
    width: 22px;

    img {
      height: 24px;
      width: 24px;
      position: absolute;
      margin-left: 0;
      left: -1px;
      bottom: -4px;
    }
  }
}

.modal.modal-social .twitter {
  background: $picton-blue;
  border: none;
  border-bottom: 1px solid $picton-blue-darker;

  &:hover, &:focus {
    background: $picton-blue-darker;
  }

  img {
    height: 28px;
    width: 28px;
  }
}

.modal.modal-social .google {
  background: $white;
  border: 2px solid $aqua-haze;

  &:hover, &:focus {
    border-color: $aqua-haze-darker;
  }

  span {
    color: $regent-gray;
  }

  img {
    height: 34px;
    width: 34px;
  }
}
