@import '../../../styles/core';
@import './stats.component.debug';

.stats {
  @include list-unstyled;
  display: flex;
  margin-top: 40px;
}

.stat {
  flex-grow: 1;
}

.stat-value {
  color: $primary;
  font-size: 30px;
}

.stat-key {
  font-family: $headings-font-family;
  font-size: $font-size-xs;
  letter-spacing: $uppercase-label-letter-spacing;
}