<div class="gn-modal modal--forgot-password">
    <header>
        <p class="paragraph modal--forgot-password__paragraph" i18n="User instructions for filling out the forgot password form@@f0019b9ad149833dd0b1ed52522ff8b4">Enter your email address to receive a password reset link.</p>
    </header>

    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form">
        <div class="form__group" *ngIf="error">
            <p class="paragraph--error-message">{{ error.message }}</p>
        </div>

        <div class="form__group" *ngIf="submittedEmail">
            <p class="paragraph--success-message" i18n="Success message for pre-login password reset link form@@86bb724db5b8034ce5e98b88850c9a09">A password reset link has been sent to {{ submittedEmail }}!</p>
        </div>

        <div class="form__group">
            <label class="label" for="email" i18n="The text for the forgot password form email input label@@a588bd2792ff35b327dddad10e716c31">Email</label>
            <input id="email" [pattern]="emailRegex" class="input tabbable" type="email" name="email" tabindex="1" [(ngModel)]="email" required>
        </div>

        <button tabindex="2" class="btn btn-primary btn-gradient-primary form__button tabbable" [disabled]="form.invalid || this.flags.processing.sendPasswordResetLink || submittedEmail" i18n="The text for the submit button of the forgot password form@@9af4da73d0297be3c5be24f13771fdae">SEND</button>
    </form>

    <footer class="footer">
        <span (click)="onSetModalView('email')" class="link footer__link footer__link_email-login tabbable" tabindex="3" i18n="The text for the link redirecting users to the email login form@@f66dd47b29a3e3be06bd281114ffc05d">Sign in with email</span>
        <span (click)="onSetModalView(null)" class="link footer__link footer__link_social-login tabbable" tabindex="4" i18n="The text for the link redirecting users to the social login form@@97907df69ea22d2128b6cd3561f6cd69">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('register')" class="link footer__link footer__link_register tabbable" tabindex="5" i18n="The text for the link redirecting users to the registration form@@27048a45156a3bbfcd3d0786419bea9b">Create a new account</span>
    </footer>
</div>