@import '../../../styles/core';

.modal--forgot-password__paragraph {
  padding-top: 30px;
}

.paragraph--error-message {
  @include font-weight-bold();
  color: $error-message-color;
}

.paragraph--success-message {
  color: $success-message-color;
}