@import '../core';

.button {
  @include font-weight-bold;
  @include border-radius(20px);
  border: 2px solid $periwinkle-gray;
  cursor: pointer;
  font-size: $font-size-x-small;
  outline: none;
  padding: 6px 30px;
  background: $white;
  color: $regent-gray;
  letter-spacing: $uppercase-label-letter-spacing / 2;

  /* Todo: (Design) Show what hover state looks like */
  &:hover {
    background: $aqua-haze;
  }

  &:focus {
    background: $aqua-haze-dark;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button_hollow {
  border-color: transparent;

  &:hover {
    border-color: $aqua-haze;
  }

  &:focus {
    border-color: $aqua-haze-dark;
  }
}

.button_opaque {
  background-image: linear-gradient(to right, $robin-egg-blue, $shamrock);
  color: $white;
  border-color: transparent;

  &:hover {
    background: linear-gradient(to right, darken($robin-egg-blue, 5%), darken($shamrock, 5%));
  }

  &:focus {
    background: linear-gradient(to right, darken($robin-egg-blue, 7%), darken($shamrock, 7%));
  }

  &:disabled {
    background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
  }
}
