@import '../core';

.button {
  @include font-weight-bold;
  @include border-radius(20px);
  border: 2px solid $periwinkle-gray;
  cursor: pointer;
  font-size: $font-size-x-small;
  outline: none;
  padding: 6px 30px;
  background: $white;
  color: $regent-gray;
  letter-spacing: $uppercase-label-letter-spacing / 2;
  transition: 100ms;

  &:hover {
    border-color: $shamrock;
    color: $shamrock;
  }

  &:focus {
    border-color: darken($shamrock, 5%);
    color: darken($shamrock, 5%);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button_hollow {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }
}

.button--opaque {
  background-image: linear-gradient(to right, $robin-egg-blue, $shamrock);
  border-color: transparent;
  color: $white;
  transition: 100ms;

  &:hover {
    /* This is necessary to prevent flickering in Chrome */
    background: linear-gradient(to right, $shamrock, $shamrock);

    border-color: transparent;
    color: $white;
  }

  &:focus {
    background: linear-gradient(to right, darken($shamrock, 5%), darken($shamrock, 5%));
    color: $white;
  }

  &:disabled {
    background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
  }
}

// todo: accomplish with angular animations
.button--loading {
  opacity: 0;
}

// todo: get activity indicator from michele
.button__activity-indicator {
  display: block;
  margin-top: 30px;
  height: 24px;
}
