@import '../colors';
@import '../variables';

.link {
  color: $shamrock;
  cursor: pointer;
  font-size: $font-size-regular;
  outline: none;
  text-decoration: none;

  &:hover, &:focus {
    border-bottom: 1px solid $iceberg;
  }
}
