@import "../../scss/variables";
@import "../../scss/mixins";

.marketing-banner {
  @include debug-background-color(rgba(yellow, 0.5));
  height: 100vh;
  position: relative;

  // TODO: Is this bad?
  margin-top: -$navbar-height;

  overflow: hidden;
  width: 100%;
  z-index: -1;

  img {
    @include debug-opacity(0.5);
  }
}

div.home-section-info {
  margin: 120px auto 0;
  text-align: center;
  width: $main-width * (2/3);
}

div.home-section-info h1 {
  @include debug-background-color(rgba(red, 0.5));
}

div.home-section-info p {
  @include debug-background-color(rgba(purple, 0.5));
  // TODO: Globalize line-height if needed
  line-height: 1.5;
  margin-top: 30px;
}

div.home-section-info button {
  @include rounded-button($background-color: #fff, $color: $light-green, $border-color: $light-green);
  margin-top: 60px;
}

.lg-features, .sm-features {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.lg-features {
  align-items: center;
}

.lg-features li {
  width: ($main-width / 2) - 30px;
}

.lg-feature-image {
  @include debug-background-color(orange);
  img {
    box-shadow: 5px 10px 40px 0 rgba(#000, 0.15);
    width: $main-width / 2;
  }
}

.lg-feature-description {
  @include debug-background-color(green);
  line-height: 1.5;

  h3 {
    color: $light-green;
  }

  p {
    margin-top: 30px;
  }
}

.sm-features {
  @include debug-background-color(rgba(skyblue, 0.5));
  align-items: flex-start;
  flex-flow: row wrap;
}

.sm-features li {
  line-height: 1.5;
  text-align: center;
  width: $main-width / 3;
}

.sm-features li h5, .sm-features li p, .sm-features li img {
  margin-top: 30px;
}

.sm-features li img {
  width: 50px;
  height: 50px;

  @if ($debug) {
    background: rgba(orange, 0.5);
  }
}

// TODO: Refactor
.home-section-separator {
  background: orange;
  margin-top: 90px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #eeeeee;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
