<div class="marketing-banner">
    <img src="../../assets/mock/elephant.png" alt="">
</div>

<main>
    <div class="center-compact">
        <h1>A language learning resource for advanced speakers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at culpa ducimus fugiat impedit
           iure nobis repellendus. Accusamus consectetur dicta?</p>
    </div>

    <section class="main-features">
        <ul *ngFor="let item of largeDescriptions; let odd = odd;" class="col-2">
            <li class="feature-image-large" [style.order]="odd ? 2 : 1">
                <img src="../../assets/mock/{{ item.thumbnail }}" alt="{{ item.title }}">
            </li>
            <li class="feature-detail-large" [style.order]="odd ? 1 : 2">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </li>
        </ul>
    </section>

    <div class="center-compact">
        <h1>That's not all..</h1>
    </div>

    <section class="secondary-features">
        <ul class="col-3">
            <li *ngFor="let item of smallDescriptions">
                <img src="../../assets/svg/{{ item.thumbnail }}" alt="{{ item.title }}">
                <h5>{{ item.title }}</h5>
                <p>{{ item.description }}</p>
            </li>
        </ul>
    </section>

    <hr>

    <div class="center-compact">
        <h1>Sign up for free</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto asperiores aut,
           consectetur dicta doloremque eius error facilis hic modi nulla obcaecati odio quis, ratione recusandae
           repudiandae sit, ut!</p>
        <button>Sign in / Sign up</button>
    </div>

</main>
