@import "../../scss/core";
@import "./home.component.debug";

/* Sizes */
$marketing-banner-height: 100vh;
$marketing-banner-width: 100%;
$main-margin-top: 103px;
$center-content-margin: $padding-unit-regular * 4 auto 0;
$center-content-width: $main-width * (2/3);
$center-content-button-margin-top: 44px;
$small-feature-width: ($main-width / 3) - $padding-unit-regular;
$small-feature-icon-width: $padding-unit-regular * 2.5;
$small-feature-icon-height: $padding-unit-regular * 2.5;
$large-feature-item-width: ($main-width / 2) - $padding-unit-regular;
$large-feature-image-width: $main-width / 2;
$large-feature-margin-top: 80px;

/* Colors */
$large-feature-header-color: $shamrock;
$sign-in-button-color: $shamrock;
$sign-in-button-border-color: $shamrock;
$sign-in-button-background-color: $white;
$small-feature-detail-color: #6c7680;

/* Other */
$large-feature-image-box-shadow: 0 6px 20px 0 rgba($black, 0.15);

/* TODO: Positioning */
.marketing-banner {
  height: $marketing-banner-height;
  position: relative;
  margin-top: -$navbar-height;
  overflow: hidden;
  width: $marketing-banner-width;
  z-index: -1;
}

.centered-content {
  margin: $center-content-margin;
  text-align: center;
  width: $center-content-width;
}

.large-feature-content {
  margin-top: 100px;
}

.large-features {
  margin-top: 100px;
}

.centered-content .content-detail {
  margin-top: 40px;
}

.centered-content .content-action {
  @extend %rounded-button;
  background-color: $sign-in-button-background-color;
  border-color: $sign-in-button-border-color;
  color: $sign-in-button-color;
  margin-top: $center-content-button-margin-top;
}

.large-feature {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $large-feature-margin-top;
}

.large-feature li {
  width: $large-feature-item-width;
}

.large-feature .feature-image {
  box-shadow: $large-feature-image-box-shadow;
  width: $large-feature-image-width;
}

.large-feature .feature-title {
  color: $large-feature-header-color;
}

.large-feature .feature-detail {
  margin-top: 40px;
}

hr {
  @extend %hr;
}

.small-features {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: $padding-unit-regular * 2;
}

.small-feature {
  text-align: center;
  width: $small-feature-width;

  .feature-title, .feature-detail, .feature-image {
    margin-top: $padding-unit-regular;
  }

  .feature-title {
    font-size: $font-size-regular;
  }

  .feature-detail {
    color: $small-feature-detail-color;
  }
}

.small-feature .feature-image {
  width: $small-feature-icon-width;
  height: $small-feature-icon-height;
}
