@import "../../scss/core";

.marketing-banner {
  @include debug-background-color(rgba(yellow, 0.5));
  height: 100vh;
  position: relative;
  // TODO: Is this bad?
  margin-top: -$navbar-height;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.marketing-banner img {
  @include debug-opacity(0.5);
}

main {
  @include debug-background-color(grey);
}

.center-compact {
  margin: $padding-unit-regular * 4 auto 0;
  text-align: center;
  width: $main-width * (2/3);

  h1 {
    @include debug-background-color(rgba(red, 0.5));
  }

  p {
    @include debug-background-color(rgba(purple, 0.5));
    margin-top: $padding-unit-regular;
  }

  button {
    @extend %rounded-button;
    background-color: $home-sign-in-button-background-color;
    border-color: $home-sign-in-button-border-color;
    color: $home-sign-in-button-color;
    margin-top: $padding-unit-regular * 2;
  }
}

.col-2, .col-3 {
  display: flex;
  justify-content: space-between;
  margin-top: $padding-unit-regular * 2;
}

.col-2 {
  align-items: center;

  li {
    width: ($main-width / 2) - $padding-unit-regular;
  }
}

.feature-image-large {
  @include debug-background-color(orange);
  img {
    box-shadow: 5px 10px 40px 0 rgba(#000, 0.15);
    width: $main-width / 2;
  }
}

.feature-detail-large {
  @include debug-background-color(green);

  h3 {
    color: $home-large-feature-header-color;
  }

  p {
    margin-top: $padding-unit-regular;
  }
}

hr {
  @extend %hr;
}

.col-3 {
  @include debug-background-color(rgba(skyblue, 0.5));
  align-items: flex-start;
  flex-flow: row wrap;

  li {
    line-height: 1.5;
    text-align: center;
    width: ($main-width / 3) - 20px;

    h5, p, img {
      margin-top: $padding-unit-regular;
    }

    img {
      @include debug-background-color(rgba(orange, 0.5));
      width: $padding-unit-regular * 2.5;
      height: $padding-unit-regular * 2.5;
    }
  }
}
