<div class="banner">
    <h1 class="banner__title">Get Native is a language learning resource for advanced speakers</h1>
</div>

<main class="main">
    <div class="headline headline_large-features">
        <h1 class="headline__title">A language learning resource for advanced speakers</h1>
        <!-- TODO: Insert text -->
        <p class="headline__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda at culpa
                                       ducimus fugiat impeditiure nobis repellendus. Accusamus consectetur dicta?</p>
    </div>

    <section class="section section_large-features">
        <ul *ngFor="let d of largeDescriptions; let odd = odd;" class="feature feature_large">
            <li class="feature__image-column" [style.order]="odd ? 2 : 1">
                <img src="../../assets/images/{{ d.thumbnail }}" alt="{{ d.title }}" class="feature__image">
            </li>
            <li class="feature__description-column" [style.order]="odd ? 1 : 2">
                <h3 class="feature__title">{{ d.title }}</h3>
                <p class="feature__paragraph" *ngFor="let p of d.paragraphs">{{ p }}</p>
            </li>
        </ul>
    </section>

    <div class="headline">
        <h1 class="headline__title">That's not all..</h1>
    </div>

    <section class="section section_small-features">
        <ul class="small-features">
            <li *ngFor="let d of smallDescriptions" class="feature feature_small">
                <img src="../../assets/icons/{{ d.thumbnail }}" alt="{{ d.title }}" class="feature__image">
                <h5 class="feature__title">{{ d.title }}</h5>
                <p class="feature__paragraph" *ngFor="let p of d.paragraphs">{{ p }}</p>
            </li>
        </ul>
    </section>

    <hr>

    <div class="headline">
        <h1 class="headline__title">Sign up for free</h1>
        <p class="headline__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
                                       architecto asperiores aut, consectetur dicta doloremque eius error facilis hic
                                       modi nulla obcaecati odio quis, ratione recusandae repudiandae sit, ut!</p>

        <button class="button headline__button" (click)="onShowSignInModal()">Sign in / Sign up</button>
    </div>

</main>
