<ul class="activity-items">
    <li class="item">
        <span class="item__unread-indicator"></span>
        <h5 class="item__title">Join our Beta program!</h5>
        <span class="item__time-since-label">yesterday</span>
    </li>
    <li class="item">
        <h5 class="item__title">Lorem ipsum dolor sit amet</h5>
        <span class="item__time-since-label">3 days ago</span>
    </li>
    <li class="item">
        <h5 class="item__title">Hank Ehly <small>published a new video</small></h5>
        <span class="item__time-since-label">1 week ago</span>
    </li>
    <li class="see-more-activities">
        <span class="link" (click)="onClickSeeAllActivity()" i18n="See all activity link title@@b07abdff23b76ae36cea0516e9455bcb">See all activity</span>
        <span class="see-more-activities__count-label" i18n="Label describing number of new activity items@@7b6af02921d2754063a428f52b713b45">{{ newCount }} NEW</span>
    </li>
</ul>