<ul class="activity-items">
    <li class="item">
        <span class="item__unread-indicator"></span>
        <h5 class="item__title">Join our Beta program!</h5>
        <span class="item__time-since-label">yesterday</span>
    </li>
    <li class="item">
        <span class="item__unread-indicator"></span>
        <h5 class="item__title">Lorem ipsum dolor sit amet</h5>
        <span class="item__time-since-label">3 days ago</span>
    </li>
    <li class="item">
        <span class="item__unread-indicator"></span>
        <h5 class="item__title">Hank Ehly
            <small>published a new video</small>
        </h5>
        <span class="item__time-since-label">1 week ago</span>
    </li>
    <li class="see-more-activities">
        <span class="link">See all activity</span>
        <span class="see-more-activities__count-label">3 NEW</span>
    </li>
</ul>