<header class="navbar">
    <div class="navbar__logo-frame">
        <img class="navbar__logo" src="../../../assets/icons/logo.svg" alt="logo" [routerLink]="'/'">
    </div>

    <div class="navbar__menu navbar__menu_center navbar__menu_center-search" *ngIf="authenticated && (searchBarVisible$ | async)"
         [@slideInLeftOutRight]>
        <label for="search-bar" class="sr-only" i18n="The label text for the navbar search field@@4b5f38ab4ccac45e6309dd0d8a4f7844">Search</label>
        <input type="search" name="search" class="input search-bar" id="search-bar" placeholder="Search..." [gnFocus]="searchBarVisible$ | async" maxlength="100" (input)="updateQuery($event)">
    </div>

    <div class="navbar__menu navbar__menu_center" *ngIf="authenticated && !(searchBarVisible$ | async)" [@fadeInOut]>
        <div class="back-button-frame" *ngIf="backButtonTitle$ | async">
            <img class="navbar__menu-icon navbar__menu-icon_back" src="../../../assets/icons/arrow-back.svg" alt="back" (click)="onClickBack()">
            <span class="back-button-label">{{ backButtonTitle$ | async }}</span>
        </div>

        <span class="page-title">{{ title$ | async }}</span>

        <div class="study-progress-frame" *ngIf="progressBarVisibleEmitted$ | async">
            <gn-study-progress [progress]="progress"></gn-study-progress>
        </div>

        <div class="study-options" *ngIf="studyOptionsVisible$ | async">
            <!--<button class="button button&#45;&#45;opaque study-option study-option_start" (click)="onClickStart()"
                    [disabled]="!(studyOptionsEnabled$ | async)">
                START
            </button>-->

            <button class="button study-option study-option_save" (click)="onClickQueue()" [disabled]="!(studyOptionsEnabled$ | async)">
                {{ queueButtonTitle$ | async }}
            </button>
        </div>
    </div>

    <nav class="navbar__nav" *ngIf="!authenticated">
        <a class="link navbar__link navbar__link_help" [routerLink]="'help'" i18n="The text for the navbar link to the help/contact-us page@@2134cc75d316e3aea408a40b6853656e">Help</a>
        <a class="link navbar__link navbar__link_login" href="" (click)="onShowLoginModal($event)" i18n="sign in/up button|The navbar sign in/up button text@@f34c98dc76d5353786f6c2983b39deeb">Sign in / Sign up</a>
    </nav>

    <ul class="navbar__menu navbar__menu_right" *ngIf="authenticated">
        <li>
            <img class="navbar__menu-icon navbar__menu-icon--search" src="../../../assets/icons/search.svg" alt="search" *ngIf="!(searchBarVisible$ | async)" (click)="onClickSearch()">
            <img class="navbar__menu-icon navbar__menu-icon--close" src="../../../assets/icons/close-dark.svg" alt="close" *ngIf="searchBarVisible$ | async" (click)="onClickCloseSearch()">
        </li>
        <li>
            <span class="navbar__menu-icon-frame">
                <!-- TODO: Remove mock (click) -->
                <img (click)="toggleNotificationIndicator()" class="navbar__menu-icon navbar__menu-icon_notification" src="../../../assets/icons/notification.svg" alt="notification">
                <span class="notification-indicator" [ngClass]="{'notification-indicator--unread': hasUnreadNotifications}"></span>
            </span>
        </li>
        <li>
            <img [routerLink]="'settings'" class="navbar__menu-icon navbar__menu-icon_account" src="../../../assets/mock/man-smiling.jpg" alt="account">
        </li>
    </ul>
</header>
