<ul class="notifications">
    <li class="notification">
        <span class="notification__unread-indicator"></span>
        <h5 class="notification__title">Join our Beta program!</h5>
        <span class="notification__time-since-label">yesterday</span>
    </li>
    <li class="notification">
        <span class="notification__unread-indicator"></span>
        <h5 class="notification__title">Lorem ipsum dolor sit amet</h5>
        <span class="notification__time-since-label">3 days ago</span>
    </li>
    <li class="notification">
        <span class="notification__unread-indicator"></span>
        <h5 class="notification__title">Hank Ehly
            <small>published a new video</small>
        </h5>
        <span class="notification__time-since-label">1 week ago</span>
    </li>
    <li class="see-more-item">
        <span class="link">See all activity</span>
        <span class="see-more-item__count-label">3 NEW</span>
    </li>
</ul>