<div class="modal modal--forgot-password">
    <header>
        <p class="paragraph modal--forgot-password__paragraph">Enter your email address to receive a password reset link.</p>
    </header>

    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form">
        <div class="form__group">
            <label class="label" for="email">Email</label>
            <input id="email" [pattern]="emailRe" class="input tabbable" type="email" name="email" tabindex="1"
                   [(ngModel)]="email" required>
        </div>

        <button type="submit" tabindex="2" class="button button--opaque form__button tabbable" [disabled]="!form.valid">SEND</button>
    </form>

    <footer class="footer">
        <span (click)="onSetModalView('email')" class="link footer__link footer__link_email-login tabbable"
              tabindex="3">Sign in with email</span>
        <span (click)="onSetModalView(null)" class="link footer__link footer__link_social-login tabbable" tabindex="4">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('register')" class="link footer__link footer__link_register tabbable" tabindex="5">Create a new account</span>
    </footer>
</div>