@import '../../../styles/core';

.label {
  position: relative;
  display: inline;
}

.label:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 6px solid $primary;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

.input {
  appearance: none;
  max-width: 125px;
  min-width: 50px;
  cursor: pointer;
}

select {
  font-family: $font-family-base;
  font-size: $font-size-base;
}