<main>
    <h3 class="header" i18n="The text for the quick links section of the privacy policy page@@9948f086c086f0ef30a7171e749bb9c0">Quick Links</h3>
    <ul class="list list_unordered list_top">
        <li><a class="link" [routerLink]="['/privacy']" fragment="information-collection" (click)="jumpTo('information-collection')" i18n="Privacy policy quick link for Information Collection section@@1c3f8c410c7f55dc98344d96875a7ae3">Information Collection</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="information-usage" (click)="jumpTo('information-usage')" i18n="Privacy policy quick link for Information Usage section@@118111d06e5268cf5a6bca3bfc177fae">Information Usage</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="information-protection" (click)="jumpTo('information-protection')" i18n="Privacy policy quick link for Information Protection section@@b114ffe4b1907ad261014fdd1f3fc484">Information Protection</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="cookie-usage" (click)="jumpTo('cookie-usage')" i18n="Privacy policy quick link for Cookie Usage section@@16bcd1462c20347ea1940d75fd965919">Cookie Usage</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="third-party-disclosure" (click)="jumpTo('third-party-disclosure')" i18n="Privacy policy quick link for 3rd Party Disclosure section@@62a47b9c79945ae50e79b72e58c4ab08">3rd Party Disclosure</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="third-party-links" (click)="jumpTo('third-party-links')" i18n="Privacy policy quick link for 3rd Party Links section@@ca25d43e9fbb44dd08877c45fd3a1338">3rd Party Links</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="google-adsense" (click)="jumpTo('google-adsense')" i18n="Privacy policy quick link for Google AdSense section@@1080a58369fc6b6192933f9de6e8cd07">Google AdSense</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="fair-information-practices" (click)="jumpTo('fair-information-practices')" i18n="Privacy policy quick link for Fair Information Practices section@@37791691c20bdc9d42172d61666dabdd">Fair Information Practices</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="coppa" (click)="jumpTo('coppa')" i18n="Privacy policy quick link for COPPA section@@1fe9871e08b33788fee2d0f6210683a9">COPPA</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="caloppa" (click)="jumpTo('caloppa')" i18n="Privacy policy quick link for CalOPPA section@@b3e83fd8cda76382522313f7cbf3cd06">CalOPPA</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="privacy-policy-changes" (click)="jumpTo('privacy-policy-changes')" i18n="Privacy policy quick link for Privacy Policy changes section@@13781ea09ebb04e3117a40e695df2df3">Privacy Policy changes</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="canspam" (click)="jumpTo('canspam')" i18n="Privacy policy quick link for CAN SPAM Act section@@d2db8e84e6d023a34bb26bf087c4e885">CAN SPAM Act</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="do-not-track-signals" (click)="jumpTo('do-not-track-signals')" i18n="Privacy policy quick link for Handling of Do-Not-Track signals section@@abd2b2e74327f98b300c145273e0594a">Handling of Do-Not-Track signals</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="third-party-behavioral-tracking" (click)="jumpTo('third-party-behavioral-tracking')" i18n="Privacy policy quick link for Third-party behavioral tracking section@@ec79c9e926c900c2f6c18a48678dd05f">Third-party behavioral tracking</a></li>
        <li><a class="link" [routerLink]="['/privacy']" fragment="contact-information" (click)="jumpTo('contact-information')" i18n="Privacy policy quick link for Our Contact Information section@@c8b9b8be3b4957f61f93e97dfd2d8056">Our Contact Information</a></li>
    </ul>

    <p class="paragraph" i18n="privacy intro section language difference agreement@@5f5a3e49d6ef79990da4c3655ee31dfe">※ This agreement is based on English as the official text, and translation to Japanese and other languages ​​is only for the convenience for user. If the content of the English version differs from the content of the other languages, the contents of the English version shall be given priority.</p>

    <h3 class="header" i18n="intro section@@1f42111bf745bf1e345726f02bf6e985">getnative Privacy Policy</h3>
    <p class="paragraph" i18n="intro section 1@@0869a8c4757bce375682d9af93523864">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

    <section id="information-collection">
        <h6 class="header" i18n="information collection section@@44dd709bf6759420fa70d082f18a443b">What personal information do we collect from the people that visit our blog, website or app?</h6>
        <p class="paragraph" i18n="information collection section 1@@c9d0bb3b9bd33f8c340c67cd423eed89">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.</p>

        <h6 class="header" i18n="information collection section header@@1ca90afe6b8ef14699b33add421d2dc0">When do we collect information?</h6>
        <p class="paragraph" i18n="information collection section 2@@852b8bc7c1aee4ef80f1bafdae233737">We collect information from you when you register on our site, Open a Support Ticket or enter information on our site.</p>
        <p class="paragraph" i18n="information collection section 3@@c0931eb556d5231148a7f9538123a386">Provide us with feedback on our products or services</p>
    </section>

    <section id="information-usage">
        <h6 class="header" i18n="information usage section@@b77e30f34a052b6138e47f8f52f98bc5">How do we use your information?</h6>
        <p class="paragraph" i18n="information usage section 1@@9f9b1f1fd7ff1b70573d44b637382eb3">We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website or use certain other site features in the following ways:</p>
        <ul class="list list_unordered">
            <li i18n="information usage section 2@@fd5f5a6b5b9319463722c20275cd44bf">To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
            <li i18n="information usage section 3@@dcbdc5cc4f20e2057983c6b4c7e149cf">To improve our website in order to better serve you.</li>
            <li i18n="information usage section 4@@3bc36f8debc8c600ed5b12b01a9e4e5d">To allow us to better service you in responding to your customer service requests.</li>
            <li i18n="information usage section 5@@d284f92a06dd7991de89da0b01454cc7">To send periodic emails regarding your order or other products and services.</li>
        </ul>
    </section>

    <section id="information-protection">
        <h6 class="header" i18n="information protection section@@7f4e92eb4b410bad3e038415c2ae8390">How do we protect your information?</h6>
        <p class="paragraph" i18n="information protection section 1@@a273c6e204a19efd8f1e920f7fa1c494">We do not use vulnerability scanning and/or scanning to PCI standards.</p>
        <p class="paragraph" i18n="information protection section 2@@c3b54409ff7f60c99ea8bda9c6e44ba0">We only provide sections and information. We never ask for credit card numbers.</p>
        <p class="paragraph" i18n="information protection section 3@@a9687ddc5827639f4fb71794ee64d636">We do not use Malware Scanning.</p>
        <p class="paragraph" i18n="information protection section 4@@50b35066a1f77b87c545db49dbc34989">Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
        <p class="paragraph" i18n="information protection section 5@@89311f67e4ef75e42efe35061641726f">We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
        <p class="paragraph" i18n="information protection section 6@@af7bd1512d72a19c649699fa90683b7b">All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
    </section>

    <section id="cookie-usage">
        <h6 class="header" i18n="cookie usage section@@5db3975da2f88368522fda0698384ceb">Do we use 'cookies'?</h6>
        <p class="paragraph" i18n="cookie usage section 1@@bcb561956267b3f8d7c810dd73605fee">Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>

        <p class="paragraph" i18n="cookie usage section 2@@3c760bc39537f52aee371403b4df0ba0">We use cookies to:</p>
        <ul class="list list_unordered">
            <li i18n="cookie usage section 3@@833392391f3988caf95d083da109e8a0">Understand and save user's preferences for future visits.</li>
            <li i18n="cookie usage section 4@@232a6e01c27e4f6514ec138a404187c8">Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
        </ul>
        <p class="paragraph" i18n="cookie usage section 5@@db2d1cbbd6bc29a76e28b62b4b12dbec">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
        <p class="paragraph" i18n="cookie usage section 6@@eb4fcc8434b9de2ad7dde6d387087bda">If you turn cookies off, some features will be disabled. It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>
        <p class="paragraph" i18n="cookie usage section 7@@8c700c32bf314bd9851c3e3b6ac592a4">However, you will still be able to place orders.</p>
    </section>

    <section id="third-party-disclosure">
        <h6 class="header" i18n="third-party-disclosure section@@d81a0d03a5ca62ab002ab69b50323af8">Third-party disclosure</h6>
        <p class="paragraph" i18n="third-party-disclosure section 1@@5c7e83e98ecf87459a72f348a0c75858">We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. <br><br> However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
    </section>

    <section id="third-party-links">
        <h6 class="header" i18n="Third-party links section@@0af04f5f30d12de68a95631092425870">Third-party links</h6>
        <p class="paragraph" i18n="Third-party links section 1@@5a1e865c4021b598c5915a5fcf60af48">We do not include or offer third-party products or services on our website.</p>
    </section>

    <section id="google-adsense">
        <h6 class="header" i18n="Google Adsense section@@3c77489aa18c3cb752d837d7a4612887">Google</h6>

        <p class="paragraph" i18n="Google Adsense section 1@@6180b0b4361ae1d08e4b9af3bfff6bad">Google's advertising requirements can be summed up by <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" class="link">Google's Advertising Principles</a>. They are put in place to provide a positive experience for users.</p>
        <p class="paragraph" i18n="Google Adsense section 2@@42cc88c64751aeba86cdbdf8a6b45819">We use Google AdSense Advertising on our website.</p>
        <p class="paragraph" i18n="Google Adsense section 3@@b3f261d72dccdcf5692cf43b74bd6c91">Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
        <p class="paragraph" i18n="Google Adsense section 4@@1d01276a5f8b8daaf1996d556de4c6b8">We have implemented the following:</p>
        <ul class="list list_unordered">
            <li i18n="Google Adsense section 5@@3a15772089d23e47a7c5aab6925600eb">Demographics and InterestsReporting</li>
        </ul>

        <p class="paragraph" i18n="Google Adsense section 6@@03af3b8c9a57d84f5ae94f2ac8eab2c1">We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
        <p class="paragraph" i18n="Google Adsense section 7@@c65dd25f78d6c6e8e54fc63f4daa378d">Opting out: Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
    </section>

    <section id="fair-information-practices">
        <h6 class="header" i18n="Fair Information Practices section@@f65f0a7aa678d8b7ec5e92f4ac865d91">Fair Information Practices</h6>

        <p class="paragraph" i18n="Fair Information Practices section 1@@a6f7a5974f983e72867c45924d3a2d25">The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
        <p class="paragraph" i18n="Fair Information Practices section 2@@6ed1852515651af3797114ff21480a94">In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
        <ul class="list list_unordered">
            <li i18n="Fair Information Practices section 3@@782fa11db42fceacf9eba44c0d695a60">We will notify you via email within 7 business days</li>
            <li i18n="Fair Information Practices section 4@@4d0b6c7a4c6324f2d6b128002a51763c">We will notify the users via in-site notification within 7 business days</li>
        </ul>

        <p class="paragraph" i18n="Fair Information Practices section 5@@dc633c737d7803b0333b9e6f0a075d18">We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
    </section>

    <section id="coppa">
        <h6 class="header" i18n="COPPA section@@e5d6e74548722139ad01e19548019ad9">COPPA (Children Online Privacy Protection Act)</h6>
        <p class="paragraph" i18n="COPPA section 1@@64ed563f3c28dea97418d4324c366f75">When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
        <p class="paragraph" i18n="COPPA section 2@@8ca49d35276f6986fc25cdac1cd026ec">We do not specifically market to children under the age of 13 years old.</p>
    </section>

    <section id="caloppa">
        <h6 class="header" i18n="caloppa section@@ff3d31096e1f008846560e5b5ab990b8">California Online Privacy Protection Act</h6>
        <p class="paragraph" i18n="caloppa section 1@@f2d1bbf72ac50679badbb2bd7609e730">CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
        <p class="paragraph" i18n="caloppa section 2@@839ab2f01405955e7be4f9ff3bdfc800">According to CalOPPA, we agree to the following:</p>
        <ul class="list list_unordered">
            <li i18n="caloppa section 3@@c4e75056845f24799a6223d754809867">Users can visit our site anonymously.</li>
            <li i18n="caloppa section 4@@f63062573fadfee196fb02f06e874706">Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</li>
            <li i18n="caloppa section 5@@40046c4dd44f1d7b8d565636ea2ae1d6">Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</li>
        </ul>
    </section>

    <section id="privacy-policy-changes">
        <h6 class="header" i18n="privacy-policy-changes section 1@@c79f6c00e4bb07dedb9310911df3ea66">Will I be notified of any Privacy Policy changes?</h6>
        <p class="paragraph" i18n="privacy-policy-changes section 1 - 1@@5b1e4cd7aab0857f374c76842cc578bc">You will be notified of any Privacy Policy changes on our Privacy Policy Page.</p>
    </section>

    <section class="section">
        <h6 class="header" i18n="privacy-policy-changes section 2@@44daa742d9683def64ddbfd2040a48a5">How can I change my personal information?</h6>
        <p class="paragraph" i18n="privacy-policy-changes section 2 - 1@@469620760b1e057a78d9cc6ad08e1e47">You can change your personal information by logging in to your account.</p>
    </section>

    <section id="do-not-track-signals">
        <h6 class="header" i18n="do-not-track-signals section@@7cdd952be205bb123f93217db44056ee">How does our site handle Do Not Track signals?</h6>
        <p class="paragraph" i18n="do-not-track-signals section 1@@9f40970463ca2c17543a82d44cde1df7">We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
    </section>

    <section id="third-party-behavioral-tracking">
        <h6 class="header" i18n="third-party-behavioral-tracking section@@bdbc16f5f5f3bc17ac4f58f165f3cf3b">Does our site allow third-party behavioral tracking?</h6>
        <p class="paragraph" i18n="third-party-behavioral-tracking section 1@@dad59996a4444d000563ab4e386c768e">It's also important to note that we do not allow third-party behavioral tracking</p>
    </section>

    <section id="canspam">
        <h6 class="header" i18n="canspam section@@dbb0f071c07c6ec72dfa74779da44a9a">CAN SPAM Act</h6>
        <p class="paragraph" i18n="canspam section 1@@ce60bacb91d673b4ae9bfee78ebb8194">The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
        <p class="paragraph" i18n="canspam section 2@@34b478c21d221a65bd6a9cae953a86e0">We collect your email address in order to:</p>
        <ul class="list list_unordered">
            <li i18n="canspam section 3@@b90c9480b5d3f6b76f3cd8e116cb6dc2">Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
        </ul>

        <p class="paragraph" i18n="canspam section 3@@8e5aa6ed3af78732784e33e563a361e7">To be in accordance with CANSPAM, we agree to the following:</p>
        <ul class="list list_unordered">
            <li i18n="canspam section 4@@1eed40b6254b5bc23a8c377cf3b7368b">Not use false or misleading subjects or email addresses.</li>
            <li i18n="canspam section 5@@2d51d88f0db63f240fbd9e2b6aaf6825">Identify the message as an advertisement in some reasonable way.</li>
            <li i18n="canspam section 6@@989ba5c46929c17c6a799962ff50f1b8">Include the physical address of our business or site headquarters.</li>
            <li i18n="canspam section 7@@73d1319009e0c3b135b7cb4d5278ec42">Monitor third-party email marketing services for compliance, if one is used.</li>
            <li i18n="canspam section 8@@ef48d249628819cafbb7ea1b063fb9f4">Honor opt-out/unsubscribe requests quickly.</li>
            <li i18n="canspam section 9@@77d56765f22dda62fafdbeffa16d9d99">Allow users to unsubscribe by using the link at the bottom of each email.</li>
        </ul>

        <p class="paragraph" i18n="Instructions for how to unsubscribe from getnative emails@@ad63846c24f80d759bdf9b5e9cd141ae">If at any time you would like to unsubscribe from receiving future emails, you can email us at <a href="mailto:contact@getnativelearning.com" class="link">contact@getnativelearning.com</a>.</p>
        <p class="paragraph" i18n="canspam section 10@@ae4e0d0dee6f2a8932691635507dce9e">Follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.</p>
    </section>

    <section id="contact-information">
        <h6 class="header" i18n="contact-information section@@9fb5e3a288df48f896b02422e4163fda">Contacting Us</h6>
        <p class="paragraph" i18n="contact-information section 1@@9420af2220703e2e416051024f0938ee">If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
        <address class="address" i18n="contact-information section 2@@9b3c772655ccd06f35b7728b7f02510f">getnativelearning.com<br>Kuresunto 403 Asakusa 2-34-4<br>Taito Ward, Tokyo<br>111-0032<br>Japan</address>
        <a href="mailto:contact@getnativelearning.com" class="link">contact@getnativelearning.com</a>
    </section>

    <p class="paragraph" i18n="contact-information section 3@@7f2e1804d74e71aba90de224984a40df">Last Edited on 2016-11-07</p>
</main>
