<div class="player-frame" (mouseleave)="onMouseLeavePlayerFrame()" (mouseenter)="onMouseEnterPlayerFrame()" (contextmenu)="onContextMenu()" (dblclick)="onDoubleClickVideoFrame()">
    <video gnVideo class="video" [src]="src || ''" [loop]="loop"></video>

    <div class="player-controls" *ngIf="!controlsHidden" [@fadeInOut]>
        <button class="player-controls__toggle-button" (click)="onClickToggleButton()" [ngClass]="{'player-controls__toggle-button_paused': player.paused}"></button>

        <div class="play-bar">
            <progress class="play-bar__progress" [value]="progress"></progress>
            <label for="play-bar__input" class="sr-only">Seek</label>
            <input type="range" class="play-bar__input" id="play-bar__input" max="1" step="0.01" #input [value]="currentTime" (input)="onInputCurrentTime(input.value)">
        </div>


        <div class="player-controls__time">
            <span class="player-controls__time-elapsed">{{ player.currentTime | digitalTime }}</span>
            <span class="player-controls__time-total">{{ player.duration | digitalTime }}</span>
        </div>

        <div class="volume-control" (click)="onClickVolumeControl($event)" (mouseenter)="onMouseEnterVolumeControl()" (mouseleave)="onMouseLeaveVolumeControl()">
            <img class="volume-control__icon" src="assets/icons/volume.svg" i18n-alt="Alt text for video player volume icon@@29cc2fd26ffd856fbbf40089abbddef6" alt="volume" *ngIf="player.volume">
            <img class="volume-control__icon" src="assets/icons/mute.svg" i18n-alt="Alt text for video player mute icon@@b2f9c3fbeab42998732fcf3fee63329a" alt="mute" *ngIf="!player.volume">

            <div class="volume-control__tooltip" *ngIf="!tooltipHidden">
                <label class="volume-control__label">
                    <input type="range" max="1" step="0.01" [(ngModel)]="player.volume" class="volume-control__input">
                    <span class="volume-control__fill" [ngStyle]="volumeControlFillStyle"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="tracker" *ngIf="controlsHidden" [@fadeInOut]>
        <progress class="tracker__progress" [value]="progress"></progress>
        <progress class="tracker__current-time" [value]="currentTime"></progress>
    </div>
</div>
