@import "../../../scss/core";

.gn-vertical-menu {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;

  ul {
    display: flex;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) translate(30px, 0) rotate(-90deg);
    width: 100vh;

    li {
      display: inline;
      margin: 0 25px;

      &:first-child {
        margin-left: 30px;
      }
    }
  }
}

.gn-vertical-menu-link {
  color: darken($grey, 15%); // TODO: Move
  text-decoration: none;

  &.gn-active {
    color: $default-color;
  }

  &:hover {
    color: $red;
  }
}
