<div class="side-menu">
    <ul class="side-menu__links">
        <li class="side-menu__link-frame">
            <a class="side-menu__link" [routerLink]="['dashboard']" [routerLinkActive]="'side-menu__link_active'" i18n="side-menu dashboard link|The text to the dashboard link in the vertical side-menu@@ddea1765b81c3a8af6b81757be83b25c">Dashboard</a>
        </li>
        <li class="side-menu__link-frame">
            <a class="side-menu__link" [routerLink]="'library'" [routerLinkActive]="'side-menu__link_active'" i18n="side-menu library link|The text to the library link in the vertical side-menu@@4b0aceda5a1149f59d5382e866bcfe55">Library</a>
        </li>
    </ul>
</div>
