<label class="switch" [ngClass]="{'switch--disabled': disabled}">
    <input class="switch__input" type="checkbox" [(ngModel)]="on" (change)="toggle()" [disabled]="disabled">

    <span class="switch__title" [ngSwitch]="on">
        <ng-container *ngSwitchDefault i18n="switch title for OFF state@@775e074d282e85a2e48217b9b8a0d61a">OFF</ng-container>
        <ng-container *ngSwitchCase="true" i18n="switch title for ON state@@13194e5cb2a6e8acceceec58ddf15915">ON</ng-container>
    </span>
    <span class="switch__slider"></span>
</label>
