@import "../../../scss/core";

.gn-bottom-right-menu {
  bottom: 0;
  position: fixed;
  right: 0;
  text-align: right;
}

.gn-active-language {
  color: $grey;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 30px;

  &:hover {
    color: $black;
    transition: color .1s;
  }
}

.gn-options-menu {
  margin-bottom: 20px;

  a {
    display: inline-block;
    margin-right: 20px;
  }

  a:nth-child(3) {
    margin-right: 30px;
  }

  img {
    height: 25px;
    width: 25px;
  }
}