@import '../../../scss/core';

.meter {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  height: 18px;
}

.meter__segment {
  background: $aqua-haze;
  height: 6px;
  margin-right: 2px;
  transition: background-color 50ms;
  width: ((250/5) - 2) + px;
}

.meter__segment--very-weak {
  @include border-left-radius();
}

.meter__segment_very-weak.meter__segment--visible {
  background: $red;
}

.meter__segment_weak.meter__segment--visible {
  background: $orange;
}

.meter__segment_good.meter__segment--visible {
  background: $sunglow;
}

.meter__segment_strong.meter__segment--visible {
  background: $atlantis;
}

.meter__segment--very-strong {
  @include border-right-radius();
}

.meter__segment_very-strong.meter__segment--visible {
  background: $malachite;
}

.meter__description {
  @include font-weight-bold;
  color: $pale-sky;
  font-size: 12px;
  margin-left: auto;
}
