<div class="player-frame">
    <video class="video" src="../../../assets/mock/video.mov"></video>

    <div class="player-controls">
        <button class="player-controls__toggle-button"></button>

        <div class="play-bar">
            <div class="play-bar__load-progress-bar"></div>
            <div class="play-bar__play-progress-circle"></div>
        </div>

        <div class="player-controls__time">
            <span class="player-controls__time-elapsed">0:06</span>
            <span class="player-controls__time-total">1:00</span>
        </div>

        <div class="volume-control">
            <!-- Todo: Get volume icon from Michele -->
            <img class="volume-control__icon" src="../../../assets/icons/play.svg" alt="volume">

            <div class="volume-control__tooltip">
                <div class="volume-control__volume-bar">
                    <div class="volume-control__volume"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tracker">
        <div class="tracker__loaded">
            <div class="tracker__progress"></div>
        </div>
    </div>
</div>
