@import '../../styles/core';
@import './study.component.debug';

.button--debug-skip {
  display: block;
  margin: 40px auto 0;
}

:host gn-modal .wrapper {
  max-width: $main-width / 3;
  padding: 40px;

  .btn {
    display: block;
    margin: 16px auto 0;
  }
}
