<main>
    <h1 class="header">Page Not Found</h1>
    <p class="paragraph">Perhaps you were looking for one of the following:</p>
    <ul class="list list_unordered">
        <li><a class="link" [routerLink]="['/library']">Library</a></li>
        <li><a class="link" [routerLink]="['/dashboard']">Dashboard</a></li>
        <li><a class="link" [routerLink]="['/help']">Frequently Asked Questions & Contact</a></li>
        <li><a class="link" [routerLink]="['/tos']">Terms of Service</a></li>
        <li><a class="link" [routerLink]="['/privacy']">Privacy Policy</a></li>
    </ul>
</main>