<div class="meter">
    <span class="meter__segment meter__segment_very-weak" [ngClass]="{ meter__segment_visible: score >= 0  }"></span>
    <span class="meter__segment meter__segment_weak" [ngClass]="{ meter__segment_visible: score >= 20 }"></span>
    <span class="meter__segment meter__segment_good" [ngClass]="{ meter__segment_visible: score >= 40 }"></span>
    <span class="meter__segment meter__segment_strong" [ngClass]="{ meter__segment_visible: score >= 60 }"></span>
    <span class="meter__segment meter__segment_very-strong" [ngClass]="{ meter__segment_visible: score >= 80 }"></span>

    <span class="meter__description">{{ strengthLabel }}</span>
</div>
