<main class="main">
    <span class="time-label">{{ progress.countdownEmitted$ | async | digitalTime }} LEFT</span>

    <div class="progress-frame">
        <div class="circle circle--large"><span class="check-mark">&#x2713;</span></div>

        <progress max="100" value="{{ progress.listeningEmitted$ | async }}" class="progress progress--listening"></progress>
        <div class="circle circle--listening" [ngClass]="{'circle--complete': progress.listeningEmitted$.getValue() === 100}"></div>

        <progress max="100" value="{{ progress.shadowingEmitted$ | async }}" class="progress progress--shadowing"></progress>
        <div class="circle circle--shadowing" [ngClass]="{'circle--complete': progress.shadowingEmitted$.getValue() === 100}"></div>

        <progress max="100" value="{{ progress.speakingEmitted$ | async }}" class="progress progress--speaking"></progress>
        <div class="circle circle--speaking" [ngClass]="{'circle--complete': progress.speakingEmitted$.getValue() === 100}"></div>

        <progress max="100" value="{{ progress.writingEmitted$ | async }}" class="progress progress--writing"></progress>
        <div class="circle circle--writing" [ngClass]="{'circle--complete': progress.writingEmitted$.getValue() === 100}"></div>
    </div>
</main>
