<div class="modal modal_social-login">
    <header class="modal__header">
        <img class="modal__logo" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/logo-white.svg" i18n-alt="Alt text for social login modal logo image@@6ab4ec4feb0f978a61871cef46235c7d" alt="logo">
    </header>

    <p class="paragraph" i18n="Instructions for logging in with a social auth provider@@3beaa5b9ffee8628958a37a39f3e1fff">Sign in to getnative with any of the following providers.</p>

    <section class="modal__body">
        <a class="modal__button modal__button_facebook tabbable" tabindex="1" [href]="e.facebookLoginUrl">
            <img class="modal__button-icon" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/social-facebook.svg" alt="facebook">
            <span class="modal__button-text" i18n="The text for the facebook login button@@d044128bbff3292ecaf2f8cf912c1087">Continue with Facebook</span>
        </a>

        <a class="modal__button modal__button_twitter tabbable" tabindex="2" [href]="e.twitterLoginUrl">
            <img class="modal__button-icon" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/social-twitter.svg" alt="twitter">
            <span class="modal__button-text" i18n="The text for the twitter login button@@275b57166664b52ab2893e535a768bad">Continue with Twitter</span>
        </a>

        <a class="modal__button modal__button_google tabbable" tabindex="3" [href]="e.googleLoginUrl">
            <img class="modal__button-icon" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/social-google.svg" alt="gmail">
            <span class="modal__button-text" i18n="The text for the gmail login button@@2f4d49eb0db1ce638fe4ef8209cb9b77">Continue with Gmail</span>
        </a>
    </section>

    <footer class="footer">
        <span (click)="onSetModalView('email')" class="link footer__link footer__link_email-login tabbable" tabindex="4" i18n="The text for the link redirecting users to the email login form@@150a5352d88ca1a7a86bd5eb012547ae">Sign in with email</span>
        <span (click)="onSetModalView('register')" class="link footer__link footer__link_register tabbable" tabindex="5" i18n="The text for the link redirecting users to the registration form@@f8228162c5a89998e5be34e06a0fd72e">Create a new account</span>
    </footer>
</div>
