@import '../../../styles/core';
@import './transition.component.debug';

.main {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.next-exercise-label, .next-exercise {
  font-family: $headings-font-family;
  display: block;
  font-size: $font-size-xs;
}

.next-exercise-label {
  margin-top: 28px;
}

.next-exercise {
  margin-top: 6px;
  color: $primary;
}

.button--continue {
  display: block;
  margin: 40px auto 0;
}
