@import '../../../styles/core';
@import './transition.component.debug';

.main {
  margin-top: 60px;
  text-align: center;
}

.adsense--medium-rectangle {
  background: $shamrock;
  color: $white;
  cursor: pointer;
  height: 250px;
  margin: 0 auto;
  width: 300px;
  line-height: 260px;
}

.next-exercise-label, .next-exercise {
  @include font-weight-bold;
  display: block;
  font-size: $font-size-x-small;
}

.next-exercise-label {
  margin-top: 28px;
}

.next-exercise {
  margin-top: 6px;
  color: $shamrock;
}

.button--continue {
  display: block;
  margin: 40px auto 0;
}
