<main>
    <section class="section section_video-panels">
        <header class="section-header">
            <h1 class="section-header__title" i18n="The title for the dashboard videos section@@fc02fa317c34e59f8d4661c007200756">Queue</h1>

            <div class="dropdown-toggle">
                <span class="dropdown-toggle__text" *ngIf="(categoryFilter$ | async)?.value">{{ categoryFilter$.pluck('text') | async }}</span>
                <span class="dropdown-toggle__text" *ngIf="!(categoryFilter$ | async)?.value" i18n="Dashboard category dropdown All videos label@@d2fa34a72514b69f9e2697247f4c2234">All videos</span>
                <img class="dropdown-toggle__icon" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/arrow-down.svg" i18n-alt="expand dropdown@@14bd1e219636451e28b4f0d20069ea1b" alt="expand" *ngIf="!(isDropdownVisible$ | async) && !(categoryFilter$ | async).value" (click)="showDropdown$.next(true)">
                <img class="dropdown-toggle__icon" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/arrow-up.svg" i18n-alt="collapse dropdown@@f74c79343cda783697a2db9d5d5cfab5" alt="collapse" *ngIf="(isDropdownVisible$ | async)  && !(categoryFilter$ | async).value" (click)="showDropdown$.next(false)">
                <img class="dropdown-toggle__icon dropdown-toggle__icon--close" src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/close-green.svg" i18n-alt="reset dropdown selection@@b5e764ff26da3bba591d4aecb626c02b" alt="reset" *ngIf="(categoryFilter$ | async).value" (click)="onClickResetDropdownSelection()">
            </div>

            <gn-category-list class="dropdown"
                              *ngIf="isDropdownVisible$ | async"
                              (category$)="onSelectCategory($event)"
                              (subcategory$)="onSelectSubcategory($event)"
                              [categories]="categories$ | async"
                              [@dropdown]></gn-category-list>
        </header>

        <div class="section_video-panels__body">
            <gn-video-panel-list [videos]="videos$ | async"
                                 [controls]="!flags.processing.beginStudySession && currentLoadingState !== loadingState.Loading"
                                 [disabled]="currentLoadingState === loadingState.Loading || flags.processing.beginStudySession"
                                 (begin)="onBegin($event)"></gn-video-panel-list>

            <ng-container [ngSwitch]="currentLoadingState">
                <button class="button section__button"
                        *ngSwitchDefault
                        (click)="loadMoreVideos$.next(maxVideoId)"
                        i18n="The text for the dashboard load more videos button@@da62c06d98499331f85421b712823185">LOAD MORE</button>

                <img src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/spinner.gif"
                     i18n-alt="alt text for dashboard loading icon@@0640631ad34e1ca9e417997625656fd8"
                     alt="loading"
                     class="button__activity-indicator"
                     *ngSwitchCase="loadingState.Loading">

                <p class="section__paragraph section__paragraph--no-more-results"
                   *ngSwitchCase="loadingState.ReachedLastResult"
                   i18n="No more results label for dashboard video list@@02822797d7d2ae66c9d2c0ff5b8d85af">No more results</p>

                <p *ngSwitchCase="loadingState.NoResults">Videos saved from the <a class="link" [routerLink]="['/library']">library</a> appear here!</p>
            </ng-container>
        </div>
    </section>

    <hr>

    <section class="section section_goals">
        <header class="section-header">
            <h1 class="section-header__title" i18n="The title for the dashboard stats section@@3e06f80500768c1b0dcb8b51e59bea2d">Stats</h1>
        </header>

        <gn-stats [stats]="stats$ | async"></gn-stats>
    </section>

    <hr>

    <section class="section section_answers">
        <header class="section-header">
            <h1 class="section-header__title" i18n="The title for the dashboard answers section@@bd47e707a777e51ac0f4981e513adf06">Answers</h1>
            <ul class="section-header__toggle-button-frame" *ngIf="(answers$ | async)?.length">
                <li class="section-header__menu-item" [ngClass]="{'section-header__menu-item_active': (answerFilterStream$ | async) === 30}" (click)="filterAnswers.next(30)" i18n="Answers from last 30 days@@ae49e7a78da9ed248fba4f55ba70c101">LAST 30 DAYS</li>
                <li class="section-header__menu-item" [ngClass]="{'section-header__menu-item_active': (answerFilterStream$ | async) === 60}" (click)="filterAnswers.next(60)" i18n="Answers from last 60 days@@f6bc286cddc198146488c8f3cbcfd98b">LAST 60 DAYS</li>
                <li class="section-header__menu-item" [ngClass]="{'section-header__menu-item_active': (answerFilterStream$ | async) === 365}" (click)="filterAnswers.next(365)" i18n="Answers from last year@@a2359e2fb9cb31060fcb81f1bffcbd8f">LAST YEAR</li>
                <li class="section-header__menu-item" [ngClass]="{'section-header__menu-item_active': (answerFilterStream$ | async) === null}" (click)="filterAnswers.next(null)" i18n="All from any time@@464c8e7821834261937da3fc871b622f">ALL TIME</li>
            </ul>
        </header>

        <div class="section_answers__body">
            <ul class="answers">
                <li *ngFor="let record of answers$ | async; let even = even" [ngClass]='{"answers__answer_striped": even}' class="answers__answer">
                    <div class="answers__answer-body">
                        <h6 class="answers__answer-title">{{ record?.writing_question?.text }}</h6>
                        <p>{{ record?.answer }}</p>
                    </div>

                    <span class="answers__answer-date">{{ record?.created_at | gnDate }}</span>
                </li>
            </ul>

            <ng-container [ngSwitch]="answersLoadingState">
                <button class="button section__button"
                        (click)="onLoadMoreAnswers(maxAnswerId)"
                        *ngSwitchDefault
                        i18n="The text for the dashboard answers section load more button@@d4d96c1a160bc58db2b6142d2806507e">LOAD MORE</button>

                <img src="https://storage.googleapis.com/stg.getnativelearning.com/assets/icons/spinner.gif"
                     i18n-alt="alt text for dashboard answers loading icon@@71814539e1eb430acca4d7f4c2de92b8"
                     alt="loading"
                     class="button__activity-indicator"
                     *ngSwitchCase="loadingState.Loading">

                <p class="section__paragraph section__paragraph--no-more-results"
                   *ngSwitchCase="loadingState.ReachedLastResult"
                   i18n="No more results label for dashboard answers list@@d61bcee2ada20f252bd801ec2167f468">No more results</p>
            </ng-container>
        </div>
    </section>
</main>
