@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_0_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_0_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_0_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_0_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaS-Regular';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_1_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_1_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_1_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_1_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_2_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_2_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_2_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_2_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaA-Semibold';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_3_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_3_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_3_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_3_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaS-Semibold';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_4_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_4_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_4_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_4_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_5_0.eot');
  src: url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_5_0.eot?#iefix') format('embedded-opentype'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_5_0.woff2') format('woff2'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_5_0.woff') format('woff'), url('https://storage.googleapis.com/stg.getnative.org/assets/fonts/326C07_5_0.ttf') format('truetype');
}

@import './styles/config/variables';

/* Bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap';

/* App specific scss */
@import "./styles/index";
