@import '../../../scss/core';
@import './toolbar.component.debug';

.toolbar {
  @include font-weight-bold;
  bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  font-size: $font-size-x-small;
  margin-right: 30px;
  position: fixed;
  right: 0;
  width: 120px;
}

.toolbar .languages-list {
  @include border-radius();
  background: $shamrock;
  color: $white;
  letter-spacing: $uppercase-label-letter-spacing;
  line-height: 24px;
  margin-right: -10px;
  margin-left: 10px;
  padding: 10px;
  text-align: right;
}

.toolbar .active-language {
  color: $regent-gray;
  letter-spacing: $uppercase-label-letter-spacing;
  margin-top: 16px;
  text-align: right;
}

.toolbar .toolbar-links {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.toolbar .toolbar-links .toolbar-link {
  margin-left: 20px;
}

.toolbar .toolbar-links .toolbar-link img {
  height: auto;
  width: 20px;
}
