<div class="toolbar">
    <ul class="languages-list">
        <li class="languages-list-item">日本語</li>
        <li class="languages-list-item">ITALIANO</li>
        <li class="languages-list-item">ESPAÑOL</li>
    </ul>

    <span class="active-language">ENGLISH</span>

    <nav class="toolbar-links">
        <a class="toolbar-link"><img src="../../../assets/icons/settings.svg" alt="settings"></a>
        <a class="toolbar-link" [routerLink]="'help'"><img src="../../../assets/icons/help.svg" alt="help"></a>
        <a class="toolbar-link"><img src="../../../assets/icons/sign-out.svg" alt="sign-out"></a>
    </nav>
</div>
