<div class="toolbar">
    <ul class="toolbar__tooltip-languages">
        <li class="toolbar__language-label">日本語</li>
        <li class="toolbar__language-label">ITALIANO</li>
        <li class="toolbar__language-label">ESPAÑOL</li>
    </ul>

    <span class="toolbar__language-label toolbar__language-label_selected">ENGLISH</span>

    <nav class="toolbar__links">
        <a class="toolbar__link">
            <img class="toolbar_link-icon" src="../../../assets/icons/settings.svg" alt="settings">
        </a>
        <a class="toolbar__link" [routerLink]="'help'">
            <img class="toolbar_link-icon" src="../../../assets/icons/help.svg" alt="help">
        </a>
        <a class="toolbar__link">
            <img class="toolbar_link-icon" src="../../../assets/icons/sign-out.svg" alt="sign-out">
        </a>
    </nav>
</div>
