<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%= APP_BASE %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= APP_TITLE %></title>
    <!-- Todo: Dynamic description -->

<% for (var t of META_TAGS) { %>
    <meta name="<%= t.name %>" content="<%= t.content %>">
<% } %>

    <link rel="icon" href="assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">

    <!-- Todo: Make dynamic -->
    <!--<meta name="og:url" content="">-->
    <!-- Todo: Add once site is available in ja_JP locale -->
    <!--<meta name="og:locale:alternate" content="ja_JP">-->

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>

<gn-app></gn-app>

<script>
    // Fixes undefined module function in SystemJS bundle
    function module() {
    }
</script>

<!-- shims:js -->
<!-- endinject -->

<% if (BUILD_TYPE === 'dev') { %>
<script src="<%= APP_BASE %>app/system-config.js"></script>
<% } %>

<!-- libs:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<% if (BUILD_TYPE === 'dev') { %>
<script>
    System.import('<%= BOOTSTRAP_MODULE %>')
        .catch(function(e) {
            console.error(e.stack || e, 
                'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
        });
</script>
<% } %>

</body>
</html>
