<div class="modal modal-email">
    <header>
        <p>Enter your email address and password to sign in.</p>
    </header>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" [pattern]="HTML5_EMAIL_REGEX" class="tabbable" type="email" name="email" tabindex="1"
                   [(ngModel)]="credentials.email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="tabbable" name="password" [(ngModel)]="credentials.password"
                   tabindex="2" minlength="8" required>
        </div>

        <button type="submit" tabindex="3" class="tabbable" [disabled]="!form.valid">SIGN IN</button>
    </form>

    <footer>
        <span (click)="onSetModalView(null)" class="footer-link tabbable" tabindex="4">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('register')" class="footer-link tabbable" tabindex="5">Create a new account</span>
    </footer>
</div>
