@import '../../../../scss/core';

.modal-register .form-group.confirm-password {
  /* Override to offset password strength indicator height */
  padding-top: 12px;
}

.modal-register footer {
  flex-direction: column;
}

.modal-register .error-messages {
  padding-left: 30px;
  color: red;
  font-weight: bolder;
  font-size: 14px;
  padding-right: 30px;
  padding-top: 20px;
}
