<footer class="footer">
    <ul class="footer__row footer__row_app-links">
        <li><a class="link" [routerLink]="['']" i18n="footer home link|The text of the link to the home page@@306bb300824ac2610485aeb98792db49">Home</a></li>
        <li><a class="link" [routerLink]="['help']" i18n="footer contact link|The text of link to the contact-us page@@ff90d3c15ff7ee8f4c66e31493c71ace">Contact</a></li>
    </ul>
    <div class="footer__row footer__row_copyright" i18n="footer copyright|The footer copyright text@@6335345ee212a722ca9838616830a7f6">© 2016 getnative Inc.</div>
    <div class="footer__row footer__row_legal-links">
        <a class="footer__legal-link" [routerLink]="['tos']" i18n="tos link|The text of the footer link to the terms of service page@@0efb113302c2a6dec65aac8751dcde55">Terms of Service</a>
        <span class="footer__legal-link-separator">&</span>
        <a class="footer__legal-link" [routerLink]="['privacy']" i18n="privacy policy link|The text of the footer link to the privacy policy page@@f98f365a0f204f89f9044c8c006dc5f8">Privacy Policy</a>
    </div>
</footer>
