<div class="modal modal-register">
    <header>
        <p>Register via email by filling out the following information.</p>
    </header>

    <ul class="error-messages">
        <li>EMAIL ALREADY IN USE</li>
        <li>PASSWORDS DON'T MATCH</li>
    </ul>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label for="email"><span class="required-indicator">*</span> Email</label>

            <input id="email"
                   type="email"
                   name="email"
                   [(ngModel)]="credentials.email"
                   [pattern]="emailPattern"
                   maxlength="254"
                   required>
        </div>

        <div class="form-group">
            <label for="password"><span class="required-indicator">*</span> Password</label>
            <input id="password" type="password" name="password" [(ngModel)]="credentials.password" required>
            <gn-password-strength></gn-password-strength>
        </div>

        <div class="form-group confirm-password">
            <label for="password-confirm"><span class="required-indicator">*</span> Password (Confirm)</label>
            <input id="password-confirm" type="password" name="password-confirm" [(ngModel)]="credentials.passwordConfirm" required>
        </div>

        <button type="submit" [disabled]="!form.valid">SIGN UP</button>
    </form>

    <footer>
        <span (click)="onSetModalView(null)" class="footer-link">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('email')" class="footer-link">Sign in with email</span>
        <p>By signing up, you are agreeing to the <a class="footer-link">privacy policy</a> and <a class="footer-link">terms of service</a></p>
    </footer>
</div>