<div class="modal modal-register">
    <header>
        <p>Register via email by filling out the following information.</p>
    </header>

    <form>
        <div class="form-group">
            <label><span class="required-indicator">*</span> Email <input type="text"></label>
        </div>

        <div class="form-group">
            <label><span class="required-indicator">*</span> Password <input type="password"></label>
            <!-- TODO: Move to separate component ? -->
            <div class="password-strength-meter">
                <span class="strength-indicator weak"></span>
                <span class="strength-indicator good"></span>
                <span class="strength-indicator excellent"></span>
                <span class="strength-label">EXCELLENT</span>
            </div>
        </div>

        <div class="form-group confirm-password">
            <label><span class="required-indicator">*</span> Password (Confirm) <input type="password"></label>
        </div>

        <input type="submit" value="SIGN UP">
    </form>

    <footer>
        <span (click)="onSetModalView(null)" class="footer-link">Sign in via Facebook, Twitter or Google</span>
        <span (click)="onSetModalView('email')" class="footer-link">Sign in with email</span>
        <p>By signing up, you are agreeing to the <a class="footer-link">privacy policy</a> and <a class="footer-link">terms of service</a></p>
    </footer>
</div>