@import "../../../scss/core";
@import "./footer.component.debug";

.footer {
  padding: 140px 0 50px;
  text-align: center;
}

.footer__row {
  display: flex;
  justify-content: space-around;
  margin: 6px auto 0;
  max-width: $main-width / 3;
}

.footer__row_copyright {
  color: $grey;
}

.footer__row_legal-links {
  color: $grey;
  justify-content: center;
}

.footer__legal-link {
  color: inherit;
  text-decoration-color: $grey;

  &:hover {
    color: $default-color;
  }
}

.footer__legal-link-separator {
  padding: 0 5px;
}
