<main class="main">

    <section class="answer-section">
        <form class="form">
            <div class="form__group">
                <label for="answer" class="form__label">In your opinion, is America a monolingual society?</label>
                <textarea name="answer" id="answer" class="textarea answer-section__textarea"></textarea>
            </div>

            <span class="answer-section__word-count">120</span>
            <button class="button button_opaque answer-section__button">FINISH</button>
        </form>

        <hr>

        <label for="example" class="form__label">Example Answer:</label>
        <textarea name="example" id="example" class="textarea example-textarea" readonly></textarea>
    </section>

    <section class="collocations-section">
        <h6>Collocations</h6>
        <ul class="collocations">
            <li class="collocation">In my opinion</li>
            <li class="collocation">and so it's just like</li>
            <li class="collocation">but then like</li>
            <li class="collocation">it's not as if</li>
            <li class="collocation">can only speak one language</li>
            <li class="collocation">across the border</li>
            <li class="collocation">up until recently</li>
        </ul>
    </section>
</main>
