<main class="main">

    <section class="section section_answer">
        <form class="answer-form">
            <div class="answer-form__group">
                <label for="answer" class="label">{{ questionText$ | async }}</label>
                <textarea name="answer" id="answer" class="textarea section_answer__textarea"></textarea>
            </div>

            <span class="section_answer__word-count">120</span>

            <button class="button button--opaque section_answer__button">FINISH</button>
        </form>

        <hr>

        <div class="example-answer">
            <label for="example-answer" class="label">Example Answer:</label>
            <textarea id="example-answer" class="textarea example-answer__textarea" readonly gnAutosizeTextarea>{{ exampleAnswer$ | async }}</textarea>
        </div>
    </section>

    <section class="section section_collocations">
        <h6>Collocations</h6>
        <ul class="collocations">
            <li class="collocation" *ngFor="let collocation of collocations?.records">{{ collocation.text }}</li>
        </ul>
    </section>
</main>
