<div class="overlay" *ngIf="isVisible" [@darken] (click)="onClose($event)">

    <div class="modal-wrapper" [@fadeInOut]>

        <div class="close-button-wrapper">
            <button class="close" (click)="onClose($event)"></button>
        </div>

        <div [ngSwitch]="getVisibleView()">
            <div class="modal modal-social" *ngSwitchDefault>
                <header>
                    <img src="../../../assets/mock/pokeball.png" alt="logo">
                </header>

                <p>Sign in to Get Native with any of the following providers.</p>

                <section>
                    <button class="facebook">
                        <span class="facebook-bg">
                            <img src="../../../assets/icons/social-facebook.svg" alt="facebook">
                        </span>
                        <span>Continue with Facebook</span>
                    </button>
                    <button class="twitter">
                        <img src="../../../assets/icons/social-twitter.svg" alt="twitter">
                        <span>Continue with Twitter</span>
                    </button>
                    <button class="google">
                        <img src="../../../assets/icons/social-google.svg" alt="gmail">
                        <span>Continue with Gmail</span>
                    </button>
                </section>

                <footer>
                    <span (click)="setVisibleView('email')" class="footer-link">Sign in with email</span>
                    <span (click)="setVisibleView('register')" class="footer-link">Create a new account</span>
                </footer>
            </div>


            <div class="modal modal-email" *ngSwitchCase="'email'">
                <header>
                    <p>Enter your email address and password to sign in.</p>
                </header>

                <form>
                    <div class="form-group">
                        <label>Email</label><input type="text">
                    </div>

                    <div class="form-group">
                        <label>Password <input type="password"></label>
                    </div>

                    <input type="submit" value="SIGN IN">
                </form>

                <footer>
                    <span (click)="setVisibleView(null)" class="footer-link">Sign in via Facebook, Twitter or Google</span>
                    <span (click)="setVisibleView('register')" class="footer-link">Create a new account</span>
                </footer>
            </div>

            <div class="modal modal-register" *ngSwitchCase="'register'">
                <header>
                    <p>Register via email by filling out the following information.</p>
                </header>

                <form>
                    <div class="form-group">
                        <label><span class="required-indicator">*</span> Email <input type="text"></label>
                    </div>

                    <div class="form-group">
                        <label><span class="required-indicator">*</span> Password <input type="password"></label>
                        <!-- TODO: Move to component ? -->
                        <div class="password-strength-meter">
                            <span class="strength-indicator weak"></span>
                            <span class="strength-indicator good"></span>
                            <span class="strength-indicator excellent"></span>
                            <span class="strength-label">EXCELLENT</span>
                        </div>
                    </div>

                    <div class="form-group confirm-password">
                        <label><span class="required-indicator">*</span> Password (Confirm) <input type="password"></label>
                    </div>

                    <input type="submit" value="SIGN UP">
                </form>

                <footer>
                    <span (click)="setVisibleView(null)" class="footer-link">Sign in via Facebook, Twitter or Google</span>
                    <span (click)="setVisibleView('email')" class="footer-link">Sign in with email</span>
                    <p>By signing up, you are agreeing to the <a class="footer-link">privacy policy</a> and <a class="footer-link">terms of service</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>
