<main class="main">
    <header class="header">
        <div class="header__thumbnail-picker">
            <div class="header__thumbnail-container" (click)="onClickThumbnail()">
                <img class="header__thumbnail" [src]="data.image || 'https://storage.googleapis.com/stg.getnativelearning.com/assets/images/silhouette-avatar.jpg'" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" i18n-alt="Alt text for settings page user thumbnail image@@9f55b08839a180df1d65398a9079d37e" alt="user picture">
            </div>
        </div>

        <gn-dropdown *ngIf="isThumbnailDropdownVisible" [left]="dropdownLeft" [top]="dropdownTop">
            <label>
                <a class="link dropdown-link" (click)="onClickUploadPhoto()">Upload Photo</a>
                <input id="file" type="file" name="file" class="header__file-input" (change)="onChangeThumbnail($event)">
            </label>
            <a class="link dropdown-link" (click)="onClickRemovePhoto()">Remove</a>
            <span class="dropdown-divider"></span>
            <a class="link dropdown-link dropdown-link--cancel" (click)="onClickCloseDropdown()">Cancel</a>
        </gn-dropdown>

        <ng-container [ngSwitch]="selectedTab">
            <h6 class="header__title" *ngSwitchDefault i18n="General settings page description@@b95a9f64b954582c56cb0033abf73084">View and update your login credentials.</h6>
            <h6 class="header__title" *ngSwitchCase="'security'" i18n="Security settings page description@@0f10119abc4c5cba9c48416f43cb3c9c">Manage your account privacy settings.</h6>
            <h6 class="header__title" *ngSwitchCase="'notifications'" i18n="Notification settings page description@@76f4626e88c7b90a7027b3c2bb87e96b">Specify how getnative should be able to notify you.</h6>
            <h6 class="header__title" *ngSwitchCase="'activity'" i18n="Activity settings page description@@dc86fc47fec36acfb7124c6559cc554b">View updates and recent activity on getnative.</h6>
        </ng-container>
    </header>

    <ul class="tabs">
        <li class="tab" [routerLink]="['/settings']" routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}" (click)="setSelectedTab('general')" i18n="The general settings page tab label@@d68d03febd04b44e73cacd22418e0b52">GENERAL</li>
        <li class="tab" [routerLink]="['/settings/security']" routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}" (click)="setSelectedTab('security')" i18n="The security settings page tab label@@bd5ba99c6cd0d5033177ce7073b8ce70">SECURITY</li>
        <li class="tab" [routerLink]="['/settings/notifications']" routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}" (click)="setSelectedTab('notifications')" i18n="The notifications settings page tab label@@ecc74de91783b4d3af04e190cfea171c">NOTIFICATIONS</li>
        <li class="tab" [routerLink]="['/settings/activity']" routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}" (click)="setSelectedTab('activity')" i18n="The activity page tab label@@8de0f7071b7a00591528e97b1ce41a26">ACTIVITY</li>
    </ul>

    <section>
        <router-outlet></router-outlet>
    </section>
</main>

<gn-modal [isVisible]="isCropperModalVisible">
    <div class="modal-content">
        <header class="header">
            <h2>Position and crop your photo</h2>
        </header>
        <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <footer class="footer">
            <button class="button button--hollow" (click)="onCancelCrop()">Cancel</button>
            <button class="button button--opaque" (click)="onApplyCrop()">Apply</button>
        </footer>
    </div>
</gn-modal>
