<main class="main">
    <header class="header">
        <div class="header__thumbnail-picker">
            <label for="file" class="header__file-input-label">
                <img class="header__thumbnail" src="../../assets/mock/man-smiling.jpg" alt="user-thumbnail">
            </label>

            <input id="file" type="file" name="file" class="header__file-input">
        </div>

        <h6 class="header__title">{{ selectedTabDescription }}</h6>
    </header>

    <ul class="tabs">
        <li class="tab" *ngFor="let tab of tabs" [routerLink]="[tab.path]" routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}">{{ tab.name | uppercase }}</li>
    </ul>

    <section>
        <router-outlet></router-outlet>
    </section>
</main>
